[2015-10-27 18:55] rabernat opened #4 "add tests!"
We need unit tests and integration tests. Bad!

I regret writing so much code already without making any tests.

[2015-10-27 18:56] rabernat opened #5 "support for "faces""
New MITgcm runs have multiple cube faces. We need to figure out how to deal with that.

[2015-10-27 18:57] rabernat opened #6 "add sphinx autodoc"
This will automatically document the public api.

[2015-10-27 18:57] rabernat opened #7 "set up Travis CI"
This is crucial for tests (see #4).

[2016-01-06 16:56] rabernat opened #11 "represent time averaged data with periodindex"
http://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-span-representation

[2016-01-30 17:05] #4 closed

[2016-01-30 22:38] #7 closed

[2016-01-31 16:55] rabernat opened #21 "add testing of mdsxray module"

[2016-01-31 16:56] rabernat opened #22 "improve testing of gridops module"

[2016-01-31 16:56] rabernat opened #23 "add testing of regridding module"

[2016-01-31 22:47] #6 closed

[2016-02-05 18:52] rabernat opened #30 "Add python 3 support for all modules"
Currently mdsxray is not python 3 compatible.

[2016-02-05 18:53] rabernat commented on #21
In order to accomplish this (and move forward with #30), we need a test MITgcm dataset which will either be distributed directly within the github repo or else downloaded during testing. Either way, it needs to be as complete as possible (in terms of variables output) and simultaneously as small as possible (in terms of domain size).

@pittwolfe, perhaps one of your very coarse-resolution basin mo

[2016-02-05 19:09] pittwolfe commented on #21
The 3D fields are 25 x 100 x 20, so, for single precision, about 200kB each.

[2016-02-05 20:49] rabernat commented on #21
That's about the same size as the global_oce verification experiments, so no real advantage to using your setup. What we really need is a genuinely tiny box model.

[2016-02-12 05:53] rabernat commented on #21
This is addressed by #31. I will open a new issue for more refined tests.

[2016-02-12 05:53] #21 closed

[2016-02-12 05:54] rabernat opened #32 "Improve testing of mdsxray module"
There are so many things that could go wrong. The current test is extremely basic: it just makes sure that the mds dataset can be read without an error.

[2016-02-12 14:32] #30 closed

[2016-05-31 10:42] lesommer commented on #5
Hi Ryan, could you describe a bit this notion of cube faces ?

[2016-05-31 12:20] rabernat commented on #5
The idea was developed by Gael Forget in in GCMFaces MATLAB package:
http://mitgcm.org/viewvc/*checkout*/MITgcm/MITgcm_contrib/gael/matlab_class/gcmfaces.pdf
![image](https://cloud.githubusercontent.com/assets/1197350/15673995/51b3a44e-2708-11e6-981c-0ad17b9992b2.png)

The latest MITgcm global simulations use rather complex grid topologies. The "faces" concept involves splitting the domain into se

[2016-05-31 12:48] lesommer commented on #5
and I guess each "face" corresponds to a particular netCDF file, right ?

[2016-05-31 12:55] rabernat commented on #5
No, not at all.

These runs generally do not use netCDF output. They use MITgcm's MDS binary file format. [This mess](https://github.com/xgcm/xgcm/blob/master/xgcm/mdsxray.py) is required to get the MDS files into xarray, and that code doesn't even support the LLC/CS grids. With faces, the logical layout within the binary output files is very different from the physical layout.

[2016-05-31 13:09] lesommer commented on #5
Now I understand why you opened a github issue here.

Do you think this concept of "face" would be useful for describing hierarchies of structured grids with different resolution ?

[2016-05-31 13:16] rabernat commented on #5
I'm not sure about nested grids...would have to think a bit more.

The way I imagine it now, the `face` would be an additional dimension. As in
[code]
Then plotting / integration methods can iterate over the faces and do what they have to do.

If your nested grid can be massaged into such a format, then it would work. The problem is that the nested sub-grids are unlikely to all have the same shape

[2016-05-31 13:23] lesommer commented on #5
Indeed, sub-grids would not have the same shape.

How do you think the concept of `grid` used in oocgcm could be used with MITgcm cube faces ? You would probably have to define a grid object for each face, right ?

[2016-05-31 13:48] rabernat commented on #5
If `face` can be represented as an additional dimension (as in my example above), then a separate grid object is probably _not_ required for each face. Xarray will automatically align any arithmetic operations along faces. Some special logic may be required for the face boundaries though.

If `face` _cannot_ be represented as an additional dimension (as with the nested grid), then I guess separate

[2016-06-01 11:55] jamesp opened #34 "Supporting GFDL and other models"
Hi all,

I'm working with the GFDL FMS idealised GCM and have been using `xarray` for a while now to perform most analysis of the model output.

The idea of a shared set of tools and functions for various models is great, not least because at some point I anticipate doing inter-model comparisons.

To that end, I was wondering if you would be interested in getting GFDL support into `xgcm`?  I have

[2016-06-02 18:56] rabernat commented on #34
Sorry for the delayed reply.

There is an ongoing discussion about the concept of a general purpose GCM analysis package which began on the xarray mailing list:
https://groups.google.com/forum/#!topic/xarray/pv1d3txTLEw

and continues on this hackpad (which I just invited you to)
https://aospy.hackpad.com/

The oocgcm package from @lesommer is quickly eclipsing xgcm, and I imagine I will eventuall

[2016-06-03 10:38] jamesp commented on #34
Hi Ryan, thanks for the detailed response.

Seems like there are several independent streams with similar ideas.  I hadn't come across @lesommer's oocgcm package before, it looks promising.

Thanks for the invite to aospy hackpad, I'll close this issue and follow progress there.  Looking forward to contributing where I can.

[2016-06-03 10:38] #34 closed

[2016-06-15 03:32] jklymak opened #36 "Directory structure?"
Hi Ryan,

This looks extremely useful.

Just a few questions - what directory structure does `ddir` have?  Do you use `globalIO = TRUE` or do you have a directory for each tile?  i.e. `ddir+'/0000'`,  `ddir+'/0001'`, etc for all the tiles.

I make scant use of the Diagnostics package.  I assume if I wanted to use this, I'd want to start using it for more prosaic variables like 'U', 'W','PH' etc?

[2016-06-15 04:59] rabernat commented on #36
Jody--I'm glad you have found my obscure package. Its overall future is a bit uncertain, as there are [many](https://github.com/lesommer/oocgcm) [other](https://github.com/spencerahill/aospy) [similar](https://github.com/spencerahill/infinite-diff/) [packages](https://github.com/pwolfram/mpas_xarray_wrapper) in various stages of development. Many of us have been discussing how to collaborate more

[2016-06-15 15:59] jklymak commented on #36
I think just getting mds files into xarray is a great contribution.  I'm a little uncertain exactly what you are doing - have you basically written a backend that mimics what the netcdf backend does, and therefore you don't write intermediary netcdf format - you simply read the mds data when xarray requests it?  If so, that's a fabulous abstraction.

I'm seeing about setting xarray up on the clust

[2016-06-15 16:17] rabernat commented on #36
Yes. It is "lazy" in this sense.

This depends on your cluster and the nature of your filesystem. In my experience, it is a performance _improvement_ to have one process handle all the io if you are using a shared filesystem.

Don't even consider not using [conda](http://conda.pydata.org/). Complete environment specifications for xgcm can be found in the [ci directory](https://github.com/xgcm/xgcm

[2016-06-15 16:19] jklymak commented on #36
Hmmm, doubt `haise` has conda (or pip, or...)

No problem... I've been warned.

[2016-06-15 16:26] rabernat commented on #36
It can be done entirely in user space, with no need for system-wide installation of packages. (But of course still probably easier with sysadmin help.)

[2016-06-15 16:49] jklymak commented on #36
Umm, yes it can.  Should have thought of that years ago!  These machines are so fancy, I don't quite realize they are just running RedHat underneath it all....

[2016-06-15 17:19] jklymak opened #38 "endianness as an option for `xgcm.open_mdsdataset`"
OK, have running, but I am an apostate and save my mds data in my machine's native little endian (I'll be honest - the big-endian thing in mitgcm doesn't make sense to me when I bet 98% of the machines are native little endian).  Is there an easy path to add a switch to `xgcm.open_mdsdataset` to use native endian.  I see you have some of that machinery in there, but then the reading endian gets ha

[2016-06-15 17:34] rabernat commented on #38
Should be quite easy. Let me give it a try.

[2016-06-15 18:01] rabernat commented on #38
@jklymak do you know how to check out my fix (#39) to test it? I would like to know it actually works on little endian data (I don't have any) before merging.
https://help.github.com/articles/checking-out-pull-requests-locally/

[2016-06-15 18:09] jklymak commented on #38
Hmmm... that link says to click on "command line" but when I go to the pull request, there is nothing saying command line....

Is there a git link I can use; I've just been calling `pip install git+https://github.com/xgcm/xgcm.git`

[2016-06-15 18:19] rabernat commented on #38
You first need to clone the master git repository and install it locally.

[code]

Once you have that working, you can pull down my branch
[code]

If you hit problems and this doesn't work for any reason, I will just merge it as is.

[2016-06-15 18:29] jklymak commented on #38
It works for me!

`In [5]: ds = xgcm.open_mdsdataset(ddir,iters,deltaT=5,prefix=['U','V','W'],endian='<').chunk()
xgcm/mdsxray.py:273: UserWarning: Not sure what to do with rlev = L
  warnings.warn("Not sure what to do with rlev = " + rlev)

In [6]: ds
Out[6]:
<xarray.Dataset>
Dimensions:  (X: 1024, Xp1: 1024, Y: 256, Yp1: 256, Z: 400, Zl: 400, Zp1: 401, Zu: 400, time: 1)
Coordinates:
    YC

[2016-06-15 18:30] #38 closed

[2016-06-15 18:31] rabernat commented on #36
I'll close this now. Feel free to open new issues as they arise.

[2016-06-15 18:31] #36 closed

[2016-06-15 23:30] jklymak opened #40 "Cannot allocate memory error"
Hi Ryan,  Thanks for your help so far.  Another quick question, largely so I understand what is going on:

Running
[code]
 I get a memory error on the head node of my cluster.  On a compute node (i.e. if I submit the job) it works fine, so this is more for my curiosity.  If I haven't addressed any of the data yet, why does the memory allocation become a problem?
[code]

[2016-06-15 23:59] rabernat commented on #40
This is a limitation of the `numpy.memmap` approach to reading the data. Although it doesn't actually read the data until you try to access it, the memory for the data still needs to be allocated. I'm guessing that your head node has less memory available to you than the compute node.

This stack overflow issue explains it pretty well:
http://stackoverflow.com/questions/1661986/why-doesnt-pythons-

[2016-06-16 02:20] jklymak commented on #40
OK, thats interesting.  My head node must have a low `ulimit` or something.  Checking with `free` the had node actually has more free memory, so it must be a difference in how they are set.  And I'm pretty sure the data is only something like 12 Gb, so it should fit in memory. I'll follow up w/ the sysadmins, but its likely a way to stop people from doing big things on the head nodes.

Thanks!  Jo

[2016-06-16 16:51] jklymak commented on #40
So you can close this - I understand the issue now;  we are only allowed 8 Gb of memory allocation on the login nodes, which presumably includes virtual memory.  So `memmap` was unable to assign me contiguous memory greater than this, even if said memory was only going to be virtual.

Thanks!

[2016-06-16 16:52] rabernat commented on #40
No, it's still an open issue! We should be able to overcome these limitations within xgcm though a better handling of the files.

[2016-06-16 16:57] jklymak commented on #40
OK!  Sounds pretty hard though unless someone else has a slick mechanism

Does netcdf have this memory mapping limitation, or does it request memory on an as-needed basis as well as access the disk?

I think my planned workflow is going to be to convert `mds` files to `netcdfs` for each timestep with all the variables I want, and then using `xray.open_mfdataset` to write the processing.

I tried w

[2016-06-17 16:56] jklymak opened #41 "`open_mdsdataset`: Can't data read files Boo-T.*"
I have some files called ` KLeps-T.0000000720.data`, which are time-averaged versions of a package's output.  `KLeps` was in `available_diagnostics.log`, so to fix this, I simply added an entry into `all_diags` with the average indicator.

Seems to work fine now.

This is after line 280 in `mdsxray.py`.  Please forgive me for not doing a full pull-request for a one-liner!

[code]

[2016-06-20 21:46] rabernat commented on #41
Can you tell me the contents of `KLeps-T.0000000720.data`?

[2016-06-20 21:53] jklymak commented on #41
It's an averaged dissipation rate from my kl10 package.

Cheers.  Jody.

Sent from my iPhone

[2016-06-20 22:50] jklymak commented on #41
Sorry, the actual contents are
[code]

These contents are exactly the same as `KLeps.0000000720.meta` but represent the time-averaged value.  I get them by setting `KLtaveFreq` in `data.kl10` (instead of `KLdumpFreq`).  I think all the mds outputs behave this way.

[2016-06-20 23:20] rabernat commented on #41
From this meta file, I gather you are not actually outputting this via `data.diagnostics` but instead are using the "native" output of your package.

This is a use case I had not anticipated. (It is also basically just a coincidence that the `KLeps` file has the same name as the entry in `data.diagnostics`.)

I think a better solution would be to add all of the metadata for the native output of yo

[2016-06-20 23:48] jklymak commented on #41
Oh.  Hmm... Well, I guess you are right.  Somehow we went to the bother of adding KL10 diagnostics (`pkg/kl10/kl10_diagnostics_init.F`) but I don't use diagnostics, so I was just using the native output.  So you are absolutely correct that it is a co-incidence.  Coding it in at L141 seems fair enough.

Alternatively, you could somehow parse all the *.meta files you find.  That may require some gue

[2016-07-07 00:20] hugke729 opened #42 "open_mdsdataset fails for two-dimensional data"
Trying out xgcm for the first time and choose a 2D simulation to test out open_mdsdataset, but I get the following error
`ValueError: dimensions ('Yp1', 'Xp1') must have the same length as the number of data dimensions, ndim=1`

Using a 3D simulation works fine.

[2016-07-14 11:17] rabernat commented on #42
Hey @hugke729, thanks for your feedback. Sorry for the delay in response--I am technically on vacation right now.

Can you clarify what you mean by 2D? Which dimension is missing?

I have successfully used open_mdsdataset with 2D (x and y) output.

[2016-07-18 10:28] rabernat commented on #42
@hugke729: Could you zip your data (entire run directory) into a tar.gz file and post it online somewhere for me to download?

[2016-07-18 17:29] hugke729 commented on #42
I've put two run directories at the link below. The one that fails (internal_wave) and one that works (barotropic gyre).

https://www.dropbox.com/sh/znq2i47jdjlz2tw/AAA33KwM8mhbqXqM0q1mzk31a?dl=0

[2016-08-28 12:51] #42 closed

[2016-08-28 12:52] #32 closed

[2016-08-28 13:08] rabernat opened #44 "Failing datetime test on sverdrup"
[code]

Seems to be related to timezone.

[2016-10-16 13:40] rabernat commented on #40
@jklymak: I just wanted to give you a heads up that I have moved all of the mitgcm-specific features of xgcm into a new package called xgcm:
https://github.com/xgcm/xmitgcm
This move also includes a major refactor of the code. I am closing the mitgcm-specific issues here, but I would really appreciate your input on the new package.

xgcm is going back to it's original mission: implementing finite-

[2016-10-16 13:40] #40 closed

[2016-10-16 13:41] rabernat commented on #41
@jklymak I just wanted to give you a heads up that I have moved all of the mitgcm-specific features of xgcm into a new package called xgcm:
https://github.com/xgcm/xmitgcm
This move also includes a major refactor of the code. I am closing the mitgcm-specific issues here, but I would really appreciate your input on the new package.

xgcm is going back to it's original mission: implementing finite-v

[2016-10-16 13:41] #41 closed

[2016-10-16 13:42] rabernat commented on #42
@hugke729: I just wanted to give you a heads up that I have moved all of the mitgcm-specific features of xgcm into a new package called xmitgcm:
https://github.com/xgcm/xmitgcm
This move also includes a major refactor of the code. I am closing the mitgcm-specific issues here, but I would really appreciate your input on the new package. The new package should definitely handle this case with two-di

[2016-10-16 14:45] rabernat commented on #44
I think this is a numpy version issue.

[2016-10-16 14:45] #44 closed

[2016-10-16 14:46] rabernat commented on #5
This is fixed by xgcm/xmitgcm#4

[2016-10-16 14:46] #5 closed

[2017-02-23 00:14] #22 closed

[2017-02-23 00:14] #11 closed

[2017-02-23 00:15] rabernat opened #49 "create a grid-aware cumsum method"
When doing integration, `cumsum` should return an array shifted from c to g grid (and vice-versa). This is one of the essential low-level operators we need to support.

[2017-03-20 18:24] rabernat opened #58 "allow more flexible padding options"
ROMS grids have the following dimensions:

[code]

Passing such a dataset to grid gives the error
[code]

It expects the g-point dimension (e.g. xi_u) to be longer than the c-point dimension (xi_rho).

[2017-03-23 00:59] dhruvbalwada opened #59 "Add ROMS grid"
This module should have functionality to handle ROMS grids.

[2017-03-23 03:00] rabernat commented on #59
That's basically what I am saying in #58, but in a more specific way.

Sent from my iPhone

[2017-05-31 13:15] bderembl opened #60 "xarray attr"
I am trying to use an xarray loaded via xmitgcm:
[code]

it seems that grid is empty
from what I see in grid.py, it only returns the summary such that _axes is empty
I looked at comodo.py in get_axis_coords() and in fact my field doen't have an 'axis' attribute: here is the line where I suspect the issue is:
`        axis = ds[d].attrs.get('axis')`

here is a summary of ds['XC']
Out[34]:
<xarray.D

[2017-05-31 14:09] rabernat commented on #60
I think you probably need to update your xmitgcm installation. These attributes were added only very recently, and we have not made a release since then (but probably should!).

If you installed via pip, run `pip uninstall xmitgcm`.

Then
[code]

[2017-05-31 14:33] rabernat commented on #60
FYI, I just released a bugfix release of xmitgcm (0.2.1), so if you installed via pip, you can upgrade with `pip install xmitgcm --upgrade`.

[2017-05-31 14:49] bderembl commented on #60
awesome.
sorry I didn't realize I was using an old version

[2017-05-31 16:46] rabernat commented on #60
Let me know if this fixed your issue.

[2017-05-31 18:21] bderembl commented on #60
yes it did

[2017-06-06 08:35] #60 closed

[2017-06-12 14:10] dhruvbalwada opened #62 "Vertical grid"
It would be great to have a routine that can work on the vertical grid.

[2017-06-12 14:25] dhruvbalwada commented on #62
from @rabernat - possible update coming here - https://github.com/xgcm/xgcm/pull/61

[2017-06-12 14:25] rabernat commented on #62
What sort of API would you like to use for taking vertical differences?

For example
[code]

[2017-06-12 14:26] dhruvbalwada commented on #62
The one you are proposing looks fine.

[2017-06-12 14:28] rabernat commented on #62
does it handle all cases though? What if you wanted to use a neumann boundary condition (i.e. assume w has no gradient at the boundary, or that it's gradient is continuous)

[2017-06-12 14:32] rabernat commented on #62
Here is a more verbose alternative

[code]

[2017-06-12 14:36] rabernat commented on #62
If we follow the scipy API, it would be
[code]

[2017-06-17 02:47] rabernat commented on #58
fixed by #61

[2017-06-17 02:47] #58 closed

[2017-06-17 02:48] rabernat commented on #59
Would be great if someone could check if this is fixed by #61

[2017-06-21 15:18] #62 closed

[2017-07-10 14:26] Herpinemmanuel opened #65 "Vorticity and Okubo-Weiss Criterion"
I am trying to use an array loaded by xmitgcm :

_ds = open_mdsdataset(dir0,iters='all',prefix=['U','V'])
grid = xgcm.Grid(ds)_

# Subject
I want to calculate the Okubo Weiss Criterion : W = s1²+s2²-vorticity²
With :

**#s1² = (du/dx-dv/dy)²**

_S1 = grid.diff(ds.U.where(ds.hFacW>0)*ds.dyC, 'X') + grid.diff(ds.V.where(ds.hFacW>0)*ds.dxC, 'Y'))/ds.rAz
S1_carree = S1**2_

**#S2² = (dv/dx+du/dy)²**

[2017-07-11 13:45] rabernat commented on #65
Hi @Herpinemmanuel. Thanks for giving this package a try! I definitely think we can resolve your issue.

Can you confirm which exact part of the expression is causing the error? Does `ds.U * ds.dyC` work? Can you also post the full stack trace of the error?

[2017-07-11 14:06] Herpinemmanuel commented on #65
# Program used :

import numpy as np
import matplotlib.pyplot as plt
import xgcm
from xmitgcm import open_mdsdataset

dir0 = '/homedata/bderembl/runmit/test_southatlgyre3'
ds0 = open_mdsdataset(dir0,iters='all',prefix=['U','V'])
grid = xgcm.Grid(ds0)

A = ds0.U * ds0.dyC
print(A)

Sn = (grid.diff(ds0.U.where(ds0.hFacW>0) * ds0.dyC, 'X') + grid.diff(ds0.V.where(ds0.hFacW>0) * ds0.dxC, 'Y'))/ds0.rAz

[2017-07-11 14:18] rabernat commented on #65
Can you please do `print(ds0.U * ds0.dyC)`?

Also, for including code or fixed-width text in github discussion, you can place it in [block quotes](https://help.github.com/articles/creating-and-highlighting-code-blocks/) using three backquote characters.

[2017-07-11 14:24] Herpinemmanuel commented on #65
When i do print(ds0.U * ds0.dyc) :

dask.array<mul, shape=(203, 60, 200, 560, 200, 560), dtype=float32, chunksize=(1, 60, 200, 560, 200, 560)>
Coordinates:

    dyG      (YC, XG) >f4 16201.7 16201.7 16201.7 16201.7 16201.7 16201.7 ...
    dxC      (YC, XG) >f4 13035.1 13035.1 13035.1 13035.1 13035.1 13035.1 ...
    rAw      (YC, XG) >f4 2.11191e+08 2.11191e+08 2.11191e+08 2.11191e+08 ...
    PHref

[2017-07-11 15:52] rabernat commented on #65
Ok, I understand the problem.

Look at the dimensions of that DataArray: `(time: 203, Z: 60, YC: 200, XG: 560, YG: 200, XC: 560)`. This is because  `ds0.U` and `ds0.dyC` have different dimensions along both the X and Y axes. According to normal [xarray broadcasting rules](http://xarray.pydata.org/en/stable/computation.html#broadcasting-by-dimension-name), when you multiply the two, these dimension

[2017-07-11 16:22] rabernat commented on #65
FYI, I would construct the strain as
[code]
This will be at the center point, not the vorticity point.

[2017-07-12 09:56] Herpinemmanuel commented on #65
I didn't know about xarray broadcasting rules and  with it , your explanation does make sense.
Thank you very much for your time !

[2017-07-14 13:04] rabernat commented on #59
Fixed by #63.

[2017-07-14 13:04] #59 closed

[2017-07-14 13:04] #65 closed

[2017-07-25 18:28] rabernat commented on #23
stale

[2017-07-25 18:28] #23 closed

[2017-07-25 18:29] rabernat opened #68 "add 1D regridding"
It would be great to be able to do 1D regridding, say to move from sigma coordinates to depth coordinates.

What is the API we would like to use for such an operation?

cc @roxyboy

[2017-07-25 22:19] roxyboy commented on #68
I remember creating a regrid package using the KDTree but if not, I think the `scipy.interpolation` api should be fine. We could create a wrapper function so that it'll work on `dask.array`

[2017-07-27 18:04] #49 closed

[2017-08-18 16:09] jetesdal opened #72 "Differencing along time axis"
I am trying to calculate time differentials using monthly snapshots of sea surface height (ETAN), temperature and salinity using xgcm. For an example, please see:
https://github.com/jetesdal/ecco_analysis/blob/master/xgcm_grid_diff_time.ipynb

Calculating the time difference using `grid.diff(da, 'T')` raises an error (KeyError: 'center').

The problem seems to be that the grid object from `xgcm.Gr

[2017-09-01 14:55] rabernat opened #73 "Automatic grid generation"
cc @jbusecke, @naomi-henderson

All of the basic functionality in xgcm now could easily be applied to generic gridded datasets (e.g. satellite, model data without auxiliary coordinates, etc.), _if_ we had the ability to automatically generate other axis variables. (This may also be necessary for @naomi-henderson to move forward with pangeo-data/pangeo-discussion#1.)

What would this look like? Ima

[2017-09-20 18:55] spencerahill commented on #73
@rabernat this Issue, along with https://github.com/pangeo-data/pangeo-discussion/issues/1, make me want to take stock of the state of the existing similar-but-different finite differencing efforts, to avoid unnecessary overlap to the extent possible.  In short, I want you/xgcm to take on everything 😜

IIRC, one outcome of the initial pangeo workshop last November was the desire to merge efforts a

[2017-09-20 19:32] rabernat commented on #73
Thanks for bringing back up the overlap issue. You're absolutely right...despite our good intentions, we are still maintaining overlapping packages wrt finite differencing. My explanation for this is simply that none of the packages is mature / general purpose enough for others to start using it off-the-shelf. oocgcm appeared to have great promise, but I couldn't get it to work with any of my mode

[2017-09-20 19:37] rabernat commented on #73
It would be great to hear from @naomi-henderson what numerical approach they used in their past work with generic gridded datasets (like CMIP5). [This paper on moisture budgets](http://journals.ametsoc.org/doi/abs/10.1175/JCLI-D-13-00018.1) for example is the basis for one of our Pangeo use cases.

[2017-09-20 20:35] spencerahill commented on #73
Thanks for the quick response.

No worries.  I agree, and I think this constitutes a major gap in our toolkit.  It would be a really fantastic outcome if this emerged out of the pangeo tracer budgets use-case.  It would also make the use-case all the more useful to others.

Absolutely.

Particularly for the use case of tracer budgets, conservation is key.  So I wouldn't be so fast to dismiss the f

[2017-09-25 18:30] spencerkclark commented on #73
First off I think @rabernat's approach for grid-aware datasets is pretty elegant in its own right!  It's a really clever use of xarray's data model, and makes things just about as explicit as possible by keeping track of the coordinate changes across differencing and interpolation operations.  If I understand things correctly, it provides the building blocks for computing estimates of derivatives

[2017-09-26 14:35] naomi-henderson commented on #73
The finite volume approach is certainly key to tracer conservation.  We do try to match the differencing technique used in an offline budget to that of the model which produced it. This would certainly include the order of approximation as well as the type of grid (A-grid, B-grid, C-grid, etc), method (finite difference, finite volume, finite element, spectral, ...) and allow for uneven spacing. F

[2017-09-26 22:14] spencerahill commented on #73
Thanks @naomi-henderson.  That all makes sense.  (As an aside, I also must apologize for not being aware of your paper and thus not citing it in my work so far.  It looks like exactly what I should have been referring to for years now.)

It sounds like @spencerkclark's gist is thus not the solution for the pangeo budget project.  So the remaining question (mostly for @rabernat) is: is there still

[2017-09-26 22:21] rabernat commented on #73
Yes! Options are good. Having multiple options in the same package will allow us to attempt to actually answer the question of which approach is best?

Not really the case. xgcm is still my own pet project...we don't have dedicated dev time for it via Pangeo.

So bottom line...PR welcome!

[2017-10-04 17:02] jbusecke commented on #73
I took a shot at a very basic implementation (#74).
Based on the example above from @rabernat it would work something like this:

[code]

Some elements are still a bit clunky, particularly how `add_slice` is implemented in [xgcm.grid](https://github.com/xgcm/xgcm/blob/master/xgcm/grid.py), but it seems to work.

Still a lot more to implement (calculate area based on lat/lon coordinates etc), but I

[2017-10-05 17:10] jbusecke commented on #73
With the current commit of #74 I added the capability to auto-generate multidimensional coordinates as well. [Here}(https://gist.github.com/anonymous/9ea33dff6cc014dc303d7193ebfeabd2) is a little example of how that would work in practice.

[2017-10-06 12:20] jbusecke opened #75 "Coordinate parsing module"
I have used xgcm successfully with MITgcm output but am now working with MOM5/6 output and plan to use xgcm heavily.

It is easy enough to manually add the required comodo attributes to an existing xarray.Dataset but since the notation is usually the same within each model I propose to automate this.

As I am thinking of it right now it would basically provide a convenient way of parsing the attri

[2017-10-06 22:58] spencerahill commented on #75
This is similar to the approach we've taken in [aospy](https://aospy.readthedocs.io) to enable automated calculations across different models, etc.  However, your suggestion differs in terms of bundling the variable names on a per-model basis.  In contrast, aospy defines default names for each coordinate, and then simply has a list of potential candidate names that it searches for for each one.  T

[2017-10-11 13:55] rabernat opened #76 "cubed-sphere exchanges"
Many models (e.g. MITgcm, GEOS, GFDL FV3) use "tiles" or "faces" of locally orthogonal curvilinear grids which are connected at the tile faces.

![MITgcm cubed sphere grid](http://www.ecco-group.org/images/gridlines-llc.jpg)

In xmitgcm, for example, each face is a dimension: variables have dimensions of `('time', 'k', 'face', 'j', 'i')`. For xgcm to difference and and interpolate correctly on suc

[2017-10-20 21:01] jbusecke commented on #75
Thanks @spencerahill, I will definitely have to check out aospy in more depth! It looks really cool!

I think for the sake of consistency (and my current need for this feature in my project) I would prefer to keep this parsing to work on the attributes instead of the variable names. It might however be worth exploring if we can 'translate' these back to aospy compatible names.

My primary goal wit

[2017-10-20 21:08] spencerahill commented on #75
Sorry I wasn't clear.  I wasn't suggesting that you use aospy or somehow integrate this with aospy.  I am interested in this functionality in xgcm for other reasons (see https://github.com/pangeo-data/pangeo/issues/1 and https://github.com/xgcm/xgcm/issues/73) and was merely offering my $0.02 on how we have approached similar issues of supporting different names across models etc 😄

[2017-11-01 17:50] jbusecke commented on #73
Ok now that #74 is merged 🎆 🍾 , I would like to talk about the next step: Recalculating distances from given coordinates.

This is much easier to implement, I believe. However, I think it is worth talking about the actual calculation in detail.
The case worth discussing is the calculation of physical [meters] from positions on the globe, since distances for e.g. depth (already in meters) are now e

[2017-11-01 18:15] rabernat opened #77 "new autogenerate functions are missing from API docs"
http://xgcm.readthedocs.io/en/latest/api.html

This can be fixed with a few lines here:
https://github.com/xgcm/xgcm/blob/master/doc/api.rst

cc: @jbusecke

[2017-11-01 18:32] rabernat opened #79 "need better defaults for autogenerate_ds"
I just tried out `autogenerate_ds`.

I loaded the dataset in [this example](https://rabernat.github.io/research_computing/assignment-8-xarray.html).

The dataset has the following coords:
[code]

I tried the following
[code]
But I got and error `RuntimeError: Either "boundary_discontinuity" or "pad" have to be specified`.

I repeated with
[code]

I understand why I need this option, but it feels a

[2017-11-01 19:26] rabernat opened #80 "better names for inferred coordinates?"
I'm not sure I like `longitude_inferred` as the name for the new face coordinate.

Maybe we can come up with something based on the cell possitions. For example `longitude_edge` or `longitude_face` or `longitude_midpoint` etc. etc.

Or we could keep xgcm's internal lexicon and use 'longitude_left`, `longitude_inner`, etc.

cc @jbusecke

[2017-11-01 19:29] rabernat commented on #73
Can you just take your comment from above and open a new issue for it.

[2017-11-01 19:29] #73 closed

[2017-11-01 19:39] jbusecke opened #81 "Support for grid metrics"
Ok now that #74 is merged 🎆 🍾 , I would like to talk about the next step: Recalculating distances from given coordinates.

This is much easier to implement, I believe. However, I think it is worth talking about the actual calculation in detail.
The case worth discussing is the calculation of physical [meters] from positions on the globe, since distances for e.g. depth (already in meters) are now e

[2017-11-01 19:45] jbusecke commented on #79
What do you think is the preferred easy behaviour or better output? We could implement logic to check for 'typical' lon/lat names (as done in aospy, as mentioned in #75).
The easiest might be the pad='auto' option. In the case of simple 1D coordinates it should achieve the same thing as boundary_discontinuity (NOT ncessarily true for multidimensional coordinates).

I am also considering building a

[2017-11-01 19:47] jbusecke commented on #80
Thats totally possible. I am not sure if this module is able to digest the 'inner'/'outer' positions...have to look into that.

[2017-11-01 20:00] rabernat commented on #81
Before we get to this issue, I think it is important to think about how xgcm will interact with these "[metrics](https://en.wikipedia.org/wiki/Metric_(mathematics))" (seems like a good term) in more generality. Many datasets already come with them defined. How do the metrics related to `Grid` an `Axis` objects?

The metrics define the distance between axis. Inspired by MITgcm, I imagine metrics `d

[2017-11-02 13:29] jbusecke commented on #79
With #78 the default for pad is set to 'auto', can you give it a go and see if that works out of the box?

[2017-11-02 13:31] jbusecke commented on #80
#78 Now has a differnet naming scheme. It takes the old name of the dimension/coordinate and adds the xgcm position to it.

[2017-11-02 13:32] jbusecke commented on #77
Just added the lines to #78

[2017-11-02 15:41] rabernat commented on #79
Why don't you add that example as a test case instead?

[2017-11-02 15:41] rabernat commented on #79
(Just make up a dataset with those coords...don't use a real dataset.)

[2017-11-02 15:43] rabernat commented on #79
Question: what happens if the coordinate discontinuity is not at the edge of the array? Like if the longitudes are `[0, 1, 2, ..., 180, -179, -178, ..., -1]`

[2017-11-07 02:32] rabernat opened #82 "xgcm organization over data quota"
Because of all the data files we are storing in git repos, we have exceeded our bandwidth in the xgcm organization

![image](https://user-images.githubusercontent.com/1197350/32474289-db5a87f2-c339-11e7-8b1c-5d85e6e58a9b.png)

We need to find a better way to host the datasets to avoid this problem in the future!

cc @jbusecke

[2017-11-07 13:34] jbusecke commented on #82
Seems like Atlassian is not charging for bandwidth like github is. Would it be easy to upload it over there and point to it?

BTW how stupid is the pricing model based on bandwidth? Punishing repos that are popular? No likey at all!

Sent from my iPhone

[2017-11-07 13:52] rabernat commented on #82
It is only for git lfs. We should get rid of that for this project as it is
not super necessary.

-R

On Tue, Nov 7, 2017 at 8:34 AM, Julius Busecke <notifications@github.com>
wrote:

[2017-11-07 14:10] jbusecke commented on #82
I guess that is true. Just for reference and other projects that need large binaries it might be worth exploring an option that charges for storage only, and doesnt brake all builds of collaborators once the package has been cloned/forked a bunch of times.

Could you announce it over here once a solution is implemented? Then i can restart my other builds over at travis.

Sent from my iPhone

[2017-11-08 04:19] #82 closed

[2017-11-09 13:24] rabernat opened #86 "more typos in autogenerate docs"
I wish I had caught all these before merging #85, but I am eager to move fast.

Here are the rendered versions on rtd:
http://xgcm.readthedocs.io/en/latest/grid_generation.html
http://xgcm.readthedocs.io/en/latest/api.html#autogenerate

I recommend the following

- [ ] link explicitly to the API docs from your grid_generation doc page. (You can see how to do this in the other doc pages.)
- [ ] re-

[2017-11-09 13:25] rabernat commented on #80
This is closed by #85

[2017-11-09 13:25] #80 closed

[2017-11-16 00:07] spencerahill opened #87 "autograd package"
Just came across this for first time: https://github.com/HIPS/autograd

Looks pretty cool.  Could be used for derivatives on the sphere?  Potentially useful here? ...

cc @spencerkclark

[2017-11-16 00:42] rabernat commented on #87
Auto differentiation is very cool and a hot topic right now given it’s relevance for machine learning. But it’s a separate problem from taking spatial gradients.

Sent from my iPhone

[2017-11-16 01:29] spencerahill commented on #87
Ah ok, thanks.  The machine learning tie-in would explain the >2k stars!

I'll close this then.

[2017-11-16 01:29] #87 closed

[2017-11-19 22:07] rabernat commented on #76
@maikejulie, following up on our email discussion, I do indeed have a prototype for doing the cubed-sphere / llc tile exchanges. It is in this gist:
https://gist.github.com/rabernat/6c18194ec55ca46b0139f33a9a9f805a

Running this code gives all xarray objects a method called `.exch.shift_face()`, which does what it sounds like. The signature and docstring for this method is repeated below:
[code]

[2017-11-20 18:46] maikejulie commented on #76
Excellent Ryan. Thanks for pointing this out again. I think this is a
really great place to continue working!

Do you think you have time to incorporate it into xmitgcm?

Best,
Maike

On 19 Nov 2017 5:07 pm, "Ryan Abernathey" <notifications@github.com> wrote:

@maikejulie <https://github.com/maikejulie>, following up on our email
discussion, I do indeed have a prototype for doing the cubed-sphere

[2018-01-19 20:31] rabernat opened #89 "create Grid without comodo attributes"
Currently the only way to pass grid coordinate information to xgcm is via the dataset attributes.

Instead, we would like to be able to do
[code]

At this point maybe we can just skip passing `ds` completely and pass DataArrays directly within `axis_geometry`. That would be a major redesign.

[2018-02-02 18:50] jbusecke commented on #89
A question I had, was if this functionality should be an argument in xgcm.Grid or just a stand-alone parser function?

Perhaps grid specific coordinates, like depth, area, volume, partial cells could be added this way (preferably with some sort of auto search, or presets for common names). Perhaps in the future this could enable a syntax like `grid.weighted_mean(field, weight='area')` where the ar

[2018-02-02 21:13] jbusecke opened #90 "Add new grid functions max() and min()"
I am trying to approximate advective fluxes for the MOM5 ocean model offline.
xgcm is well suited to perform the interpolation of horizontal fluxes from velocity points (B-grid; upper right corner) to the cell faces.

Some operations, however require to calculate the minimum of a variable (in this case mass
per unit area; see [MOM5 manual](http://www.mom-ocean.science/web/docs/project/MOM5_manual.

[2018-02-05 15:41] jbusecke commented on #90
While at this, another useful function would be a very simple 'grid.shift' function.

The purpose of this would be to fix netcdffiles that did not assign the correct grid position.

I found some files recently that had fluxes on the grid face saved on the tracer point and I have been using this to reassign the cell face positions

[code]

I think it would be useful (and probably straightforward to

[2018-02-06 11:17] jamesp opened #91 "Periodic X diff fails for GFDL data"
Hi all, I'm trying to collate my analysis routines for the Isca model (fork of GFDL FMS) and think it would make sense to base them on `xgcm` as I can perhaps contribute some back to the core.  For the moment, FMS doesn't seem to conform to CF or Comodo conventions, so I've written a small manifest creator that should put the right metadata in the right place to allow `xgcm.Grid` to read it:
[code

[2018-02-06 14:14] rabernat commented on #91
Thanks for this bug report! I'll look into it.

FYI I have posted your notebook as a gist here: https://gist.github.com/rabernat/d9253e19b84c13301cb79fddb073679a

[2018-02-06 16:40] jbusecke commented on #91
For me this happens when the number of cell faces is unequal to the cell center values.
Could you post the representation of your custom xgcm.Grid object (e.g. ‘print(g)’)?

The ‘boundary discontinuity’ should only be used when interpolating values which are not periodic (it is used to get values between e.g. longitudes of 0 and 359 as 360 instead of 179.5).

[2018-02-06 16:40] rabernat commented on #91
So I just tried your example with the development branch I'm using for #88, and it worked! So that should fix your issue (and also a bunch of others).

Lots of people are waiting on that PR, so this gives me more incentive to just get it merged asap. Hopefully within a day or two.

Thanks again for your interest in xgcm.

[2018-02-06 16:41] rabernat commented on #91
@jbusecke this is all in his example notebook, which I gistified here https://gist.github.com/rabernat/d9253e19b84c13301cb79fddb073679a

[2018-02-06 16:42] jamesp commented on #91
Thanks @rabernat and @jbusecke for your very rapid responses! I go off to a seminar and come back to a solution.  I'll fetch #88 and give that a go.

[2018-02-06 16:46] jbusecke commented on #91
Edit: I meant to say *continous* instead of periodic above.

Random thought: Why cant I edit posts on the mobile github site...I guess they assume nobody produces typos while typing in the subway ;-)

Also, regarding @rabernat s comment. They dont render notebooks on the mobile site either...grrrr.

[2018-02-06 16:52] jamesp commented on #91
@rabernat #88 worked.  Let me know if there is anything I can do to help test/document and get it into master sooner.

@jbusecke  Thanks for the clarification on `boundary_discontinuity`.  And there's definitely a gap in the market out there for a good mobile interactive notebook viewer! :)

[2018-02-06 17:03] jamesp commented on #91
On a related, but off topic note, I have some xarray functions for calculating metrics e.g. overturning streamfunction, brunt vaisala frequency, from Isca model output.  Also an fft routine, inspired in part by something @rabernat posted in another issues thread, that can also be used as a dataarray accessor i.e. `ds.vorticity.fft(('time', 'lon'))` (https://github.com/jamesp/isca_xarray/blob/maste

[2018-02-09 02:21] jbusecke commented on #91
I think, particular for spectral analysis https://github.com/rabernat/xrft would be the package to contribute (not directly dependent on the xgcm 'magic'). I am very interested in building vector calculus (like a vorticity operator above) into xgcm, in a way that automatically recognizes/rebuilds appropriate metrics (distances, area, volume), needed for the calculation. This should be flexible eno

[2018-02-21 16:25] #76 closed

[2018-02-21 16:29] rabernat opened #92 "grid autogeneration is broken"
#88 broke grid autogeneration:
https://travis-ci.org/xgcm/xgcm/jobs/344396979#L919

Needs to be fixed asap.

[2018-02-21 16:29] rabernat commented on #91
closed by #88

[2018-02-21 16:29] #91 closed

[2018-03-16 13:29] willirath opened #95 "Strategies for indexing and selecting"
I'm working with NEMO output wrapped into an xarray dataset understood by `xgcm.Grid`. (And it is great to finally be able to just focus on the calculation at hand without all the C-grid boilerplate that's usually necessary to handle the data!)

In working with these data sets, I struggle with a simple way of subsetting the data across different dimensions belonging to the same axis. With a datase

[2018-03-16 13:51] rabernat commented on #95
First, let me say I'm very glad that your have xgcm working with NEMO! I would love to see an example of how you are using it.

You question is fundamentally about xarray, not xgcm. Therefore I recommend you raise it on the xarray issue tracker. I don't think that xarray supports this sort of indexing right now. However, I believe that this is one of the goals of the salem package:
https://salem.r

[2018-03-16 14:15] jbusecke commented on #95
Yes, it is awesome that xgcm is more widely used!

I took a look at salem and it looks very cool, but perhaps there is a point to be made about xgcm "internal" selection.

First of all, there are two issues here:
1) @willirath is trying to subset based on 2-dimensional coordinates. Which becomes difficult when coordinates are not purely in lat-lon format (in this case they seem to be). Salem looks

[2018-03-16 14:28] rabernat commented on #95
Good points Julius. But I'm not convinced there is a big problem if you get uneven array size when subsetting? With a subsetted domain, you are going to have to impose some boundary conditions anyway for diff / interp at the edges. Presumably the results you get at the edges of a subsetted domain will be thrown away anyway.

In this case, the tracer would still be at the `center` position and the

[2018-03-16 14:35] jbusecke commented on #95
I hear you. And the boundary condition argument is perfectly valid.
Just to reiterate, I think this is not a fundamental deficiency, we can work around it. It would just be a user-friendliness feature.

You are doing most of the work on this (incredibly appreciated!) and if you think it would draw focus from the core functions lets not do it.

@willirath I would be interested how your experience w

[2018-03-16 15:02] willirath commented on #95
My approach is currently hosted on our institute's Git server: <https://git.geomar.de/willi-rath/xorca> It basically automates <http://xgcm.readthedocs.io/en/latest/grid_generation.html> in a single preprocessing function for `xarray.open_mfdataset`.

[2018-03-16 15:24] jbusecke commented on #95
`grid_generation` was written to recompute grid variables that are not available (mostly for observational products).

I have written something like this before for GFDL MOM5:
[code]
I always thought it would be good to create a central repo with this sort of boilerplate code for various models as preset. Although I experienced quite a bit of variability in the naming of even x and y coordinates d

[2018-03-16 15:30] willirath commented on #95
I've never tried salem.  Will let you know if I get to it.

That's an interesting point.f `xgcm.Grid` automatically infers that a dimension is `"inner"` if it is shorter by one, then all my problems might just boil down to thinking about boundary conditions.  I'll definitely play with this.

I totally agree with that!

[2018-03-16 15:35] rabernat commented on #95
FYI, I have a PR in progress (#93) which will bypass the need to set these attributes and just let you pass the axis information directly to `Grid` as a dictionary.

[2018-03-16 16:15] willirath commented on #95
The newer the model output, the more consistent the NEMO data becomes. But there still is a _lot_ of ambiguity. [Nemo itself offers 9 different ways of writing grid info to disk.](http://forge.ipsl.jussieu.fr/nemo/browser/branches/2018/dev_r8864_nemo_v3_6_ZTILDE/NEMOGCM/NEMO/OPA_SRC/DOM/domwri.F90#L58) Even within a single group, it is very difficult to "just open the mesh-mask file" and be sure t

[2018-03-16 17:28] jbusecke commented on #95
Yikes. Yeah maybe that is bit too much then. I think a good way to proceed is to document your method as a use case on pangeo. That would have helped me a lot in the (hypothetical) event that I would have to use NEMO data.

[2018-03-23 20:01] jbusecke commented on #90
I was playing around with the min and max function and have a crude working implementation. I am still running into trouble at coordinate discontinuities, but I am sure we can handle that with some of the 'boundary_discontinuity' logic I wrote for the grid_generation module. While digging there, I was also hoping to look into #92. These seem related.

I will need this functionality in the near tim

[2018-03-23 20:07] rabernat commented on #90
Please submit a PR!

The way the code is structured, it should be very straightforward to add any "binary function" such as min, max, etc. I support this 100%

[2018-03-23 20:17] jbusecke commented on #90
Yeah exactly! I added clones of `axis.diff()` and `grid.diff()` that execute `xr.ufuncs.minumum(left,right)` instead of `left-right` in the return line. Let me see what I can do about the discontinuity.

Should I include the shift function too?
This would be even easier: Just return the left or right value and that's it.

This will be cool to have and I could develop a pangeo use case for some CM2

[2018-03-23 20:26] rabernat commented on #90
Feel free to put all of these into a PR. We can discuss the implementation more there.

We will try to find the most efficient way of wrapping such functions that involves as little boilerplate code as possible. For example, see how dask wraps numpy array functions:
https://github.com/dask/dask/blob/master/dask/array/routines.py#L171

[2018-03-27 17:02] roxyboy opened #97 "KeyError when applying xgcm.Grid.cumsum on the LAYERS package output"
I have a xgcm.grid object that is recognizing the layers grid:

[code]

However, when I try to apply the `grid.cumsum` function over the `1TH Axis`, I get the following KeyError:

[code]

Is there a work around for this?

[2018-03-27 17:04] rabernat commented on #97
can you `print(mean_thkns[::-1])` ? thanks

[2018-03-27 17:06] roxyboy commented on #97
[code]

[2018-03-27 17:09] rabernat commented on #97
can you try `print(grid.axes)`?

[2018-03-27 17:11] roxyboy commented on #97
[code]

[2018-03-27 17:16] rabernat commented on #97
The name of the axis is `1TH`, not `layer_1TH_center`. `layer_1TH_center` is the name of a coordinate, not an axis. So you should do

[code]

(Also, do not reverse the data. that will not work with xgcm.)

[2018-03-27 17:18] #97 closed

[2018-03-27 17:20] rabernat commented on #97
Do you understand how I debugged this? The important step is to understand the nature of this error
[code]

You could have examined `grid.axes` yourself to verify that 'layer_1TH_center' was not a valid key.

[2018-03-27 17:42] roxyboy commented on #97
`grid.cumsum` seems to work fine for reversed data...

[2018-03-27 17:48] rabernat commented on #97
It may not raise an error, but I assume it is either a) giving you the
wrong answer or b) aligning the array back to its original order.

xgcm expects and assumes the data variables to have exactly the same
coordinates as the dataset used to create the `Grid` object. There are no
alignment checks, so you could easily trick it into doing something that
doesn't make sense.

I strongly advise against

[2018-03-27 17:54] roxyboy commented on #97
`grid.cumsum(mean_thkns[::-1], '1TH', boundary='fill').plot()` and `plt.imshow(np.cumsum(mean_thkns[::-1], axis=0), origin='bottom')` give the same results, so I think it is working fine, at least for this case.

![screen shot 2018-03-27 at 1 53 03 pm](https://user-images.githubusercontent.com/8934026/37985296-66e0185a-31c6-11e8-95e6-7d32f64c568b.png)
![screen shot 2018-03-27 at 1 53 16 pm](https:

[2018-03-27 17:56] rabernat commented on #97
No. it's not working fine. Your first image proves that.

[2018-03-27 18:01] rabernat commented on #97
You have artificially reversed the coordinates on the layer axis.

Also, `LaVH1TH` is not the layer thickness. It is the transport.

[2018-05-11 15:52] jbusecke commented on #90
closed via #96

[2018-05-11 15:52] #90 closed

[2018-05-11 15:54] jbusecke commented on #86
I need to update the docs still, but thanks for the fast merge on #96. I really needed that functionality back!

[2018-05-11 15:56] rabernat commented on #86
Will you add an example notebook working with real observational data?

On Fri, May 11, 2018 at 11:54 AM, Julius Busecke <notifications@github.com>
wrote:

[2018-05-11 15:57] jbusecke commented on #79
That is an excellent question! That will likely fail. So perhaps we need to build in a check if the dimension values are monotonically increasing?

[2018-05-11 16:02] jbusecke commented on #86
Yes that was the plan. Now that the generation of the 'outer' position works, it is easy to calculate grid distances. That is what I use this module for most and ill add a nice example, emphasizing the effect of proper area weighting like here (http://xarray.pydata.org/en/stable/examples/monthly-means.html) and maye a gradient calculation? Any other ideas that would be helpful to demonstrate?

Can

[2018-05-11 16:08] jbusecke opened #98 "Metrics module - Calculate grid distances offline"
Now that the grid generation is working again and has matured a bit, how about we use the opportunity and tackle the offline calculation of grid distances at various points.

@rabernat suggested a 'metrics' module. It would take the position on the grid and turn it into a physical distance. This would involve a choice between ways to calculate distances on a sphere (for lon, lat coordinates) or si

[2018-05-11 16:10] jbusecke commented on #75
Should I close this? #93 supposedly took care of it?

[2018-05-11 16:11] jbusecke commented on #98
Ughh I didnt have my second coffee yet, duplicate of #81. Closing

[2018-05-11 16:11] #98 closed

[2018-05-11 18:52] rabernat commented on #86
For some reason I can't assign you.

[2018-05-14 17:09] #92 closed

[2018-06-08 20:11] rabernat opened #100 "conda forge package"
We should create a conda forge package for xgcm to make it easier to install.
https://conda-forge.org/docs/recipe.html

[2018-06-08 23:39] jakirkham opened #101 "Packaging license file"
Would be great to have the license file included in the `sdist` on PyPI. Basically this amounts to adding a `MANIFEST.in` file that has the following.

[code]

This is relevant for issue ( https://github.com/xgcm/xgcm/issues/100 ).

[2018-06-09 13:00] jbusecke opened #102 "Weighted sum/mean/cumsum"
While thinking about #99, I would also consider adding a module for weighted mean/sum/cumsum to xgcm. I have been using my own code so far (https://github.com/jbusecke/xarrayutils/blob/master/xarrayutils/weighted_operations.py).

Currently I would use someting like this
[code]
I would really like if I could do something like this in xgcm with a full dataset:
[code]
This would use the internal logi

[2018-06-09 13:43] jbusecke commented on #81
I think that we should go the higher-order way, at least internally. It should be pretty simple to convert from the 'left/right' distances `dxr``dxl` to `dxg` in the above example.
From what I understand that is also what is done in the MOM5 code.
Converting the other way might need some more assumptions.

Expanding what I suggested in #99, I think internally we need to store something like `{{'XC

[2018-06-09 15:16] jbusecke opened #103 "grid.coarsen function"
Another feature that I think will be feasible and useful in the near future (when metrics e.g. #81 are available) is a function to coarsen a full dataset, which is aware of the grid metrics and how to coarsen them.

As an example, lets say we have ocean model output at 1/2 degree resolution and want to coarsen it to 2 deg, e.g. 4 grid points in each dimension.

I have previously used my own functi

[2018-06-14 00:45] rabernat opened #104 "help wanted!"
This issue is just to make it clear that I am explicitly looking for volunteers to take on responsibility for versioning (#101), packaging (#100), documentation, and overall administration of xgcm. I just don't have time to tackle these things any time soon, but they are important for the long-term sustainability of this project.

For example, @jbusecke, @raphaeldussin, @willirath, @maikejulie, @j

[2018-06-14 01:38] raphaeldussin commented on #104
count me in!

[2018-06-14 01:56] jbusecke commented on #104
Yup I would be interested!

Sent from my iPhone

[2018-06-14 02:29] rabernat commented on #104
Great, thanks! I have given you both write access, so you can commit / merge PRs. (I would strongly prefer that all changes continue to come through PRs.) I probably also have to give you permissions on pypi--I'll try to sort that out asap.

So basically just start doing it. I recommend starting by copying xarray's "how to release" instructions / adapting them for xgcm:
https://github.com/pydata/x

[2018-06-14 02:32] rabernat commented on #104
In order to get permissions to publish on pypi, you need to make accounts there and then tell me your usernames. I will add you to the xgcm project: https://pypi.org/project/xgcm/

[2018-06-14 05:16] willirath commented on #104
I'm happy to join and look into #100.

(But I'll be quite busy the next few days.)

Am 14. Juni 2018 02:45:07 schrieb Ryan Abernathey <notifications@github.com>:

[2018-06-14 13:20] rabernat commented on #104
Just to be clear, the near-term goal is to release xgcm v 0.2.0 via pip and conda-forge.

[2018-06-14 13:33] jbusecke commented on #104
Do we have concrete milestones for 0.2.0 (e.g. working metrics module and perhaps vector calculus?)

[2018-06-14 14:20] jbusecke commented on #104
Joined PyPI (username: jbusecke)

[2018-06-14 15:06] raphaeldussin commented on #104
same (username: raphaeldussin)

[2018-06-14 15:28] rabernat commented on #104
Ok you are both added as maintainers.

Let's make 0.2.0 just the current state of the project. No need to wait for those hard things to get done. We have not had a release in a long time, and there are already many improvements that we need to get out there.

We can discuss milestones for 0.3.0 in a separate issue.

[2018-06-14 20:58] raphaeldussin commented on #104
from the pypi and conda docs, it seems that the way to go is to start with creating the pypi package
then the conda recipe. I can start testing it next week if that's ok with everybody.

[2018-06-14 22:42] maikejulie commented on #104
Happy to be involved, but a bit busy out June sorry!

[2018-06-14 23:18] jbusecke opened #105 "Todo list for v0.2.0 release"
I thought it would be good to compile a little list with things that need to be done to release a clean version.

- [x] Documentation and examples for the `autogenerate` module and some other 'stuff' (#77 #79 #86) @jbusecke
- [x] Add example notebook using `face_connections` with MITgcm LLC grid

Please let me know what else people think needs to be done before the release.

Closes #122

[2018-06-14 23:20] jbusecke commented on #104
Sounds great. I have started a todo list (#105), where we can discuss what is still missing for a clean release of v0.2.0. Perhaps its only the things that I have to do...then this might have been a bit overkill.

Either way let me know if there are things (particularly in the documentation) that are still needed.

[2018-06-15 11:39] rabernat commented on #104
Note that @ocefpaf has already created a conda-forge package for us (https://github.com/conda-forge/xgcm-feedstock), but it needs some attention (see discussion here: https://github.com/conda-forge/staged-recipes/pull/6056#issuecomment-397283231). He would be a great person to ask if you have questions about releasing.

As for the overall release procedure, I highly recommend you follow the proced

[2018-06-15 11:40] rabernat commented on #105
Good idea Julius. Let's add some more examples to the example gallery that show off the new features. I added one of my own to your list.

[2018-06-29 14:32] #77 closed

[2018-07-09 17:42] jbusecke opened #107 "xgcm operations change chunk size?"
This might be a naive question, but is it necessary that xgcm operations like `diff` and `interp` change the chunksize along the used dimension to 1? I just stumbled across this and had to rechunk my dataset.

Here is a short example that reproduces the behaviour:
[code]
<xarray.Dataset>
Dimensions:  (XC: 9, XG: 10)
Coordinates:
  * XC       (XC) int64 1 2 3 4 5 6 7 8 9
  * XG       (XG) float64 0

[2018-07-19 20:55] vrx- opened #108 "fitting a ROMS curvilinear grid"
Hi,
I'm trying to use xgcm for analyzing ROMS model output on a curvilinear grid, but I can't seem to fit the grid

Here is how my dataset looks like:

[code]

[code]
As it's a curvilinear grid the metadata seems to not be in a currently readable. So following the convention on the documentation site, I've tried to create my coord dictionary:

[code]

this seems to work but I'm losing xi_v in the

[2018-07-19 21:05] rabernat commented on #108
@roxyboy...didn't you use xgcm successfully with ROMS? Do you have any experience you could share?

[2018-07-19 21:42] vrx- commented on #108
Part of the problem seems to be that eta and xi dimensions are not coordinates. So manualy exporting them partially works, but not really (here the outer eta_psi doesn't pass for some reason)
[code]
I don't really care about the psi point tho, but adding eta_u breaks the thing

[code]

so there can't be more than one dimension on one axis position?

[2018-07-19 22:02] rabernat commented on #107
The xarray representation doesn't show you to full chunk size. To get the full chunk structure, you need to examine the dask object (`.data.dask.chunks`).

The chunks are not size 1--they are nonuniform. https://github.com/dask/dask/issues/3535 describes this in more detail.

I think it would be good to add a rechunk step at the end of these operations and then also possibly fuse them into a singl

[2018-07-19 22:21] #89 closed

[2018-07-19 22:21] rabernat commented on #101
@raphaeldussin - could you have a look at this when you get the chance?

[2018-07-19 22:22] rabernat commented on #108
Thanks a lot for this detailed and thoughtful issue. We really appreciate you taking the time to write this out.

The fundamental problem here is that this version of ROMS uses a coordinate labeling convention that is different from any of the other models we have encountered so far (MITgcm, GFDL FMS, MOM, NEMO,  etc.)

Let's go back to the diagram from the [Comodo conventions](http://pycomodo.for

[2018-07-19 22:33] jbusecke commented on #108
Try to run this before your example, it brute force renames the redundant dimensions:

[code]

This replaces the redundant logical dimensions `eta_u` and `xi_v` in your dataset. Its super slow when I tried but it worked for me.

You might have to add the `psi` dimensions in there too, still a bit confused about the ROMS nomenclature :-)

Let us know how it goes.

[2018-07-19 22:38] #101 closed

[2018-07-19 22:38] rabernat commented on #108
Why on earth should something like this be slow? You are just tweaking some metadata.

[2018-07-19 22:43] jbusecke commented on #108
It shouldnt, but I was also persisting giant amounts of CM2.6 in the background, so that might have *something* to do with it :-)

The more important question is does it work?

[2018-07-19 22:47] jbusecke commented on #107
Interesting! But a bit over my head TBH. I would have to read further into it, but if this makes finite differences faster, I am all IN!

[2018-07-19 23:18] vrx- commented on #108
Uh... I think I just found the big elephant in the room. My grid is not orthogonal.
This is a curvilinear grid, not a rectangular grid, so there are not meridional or zonal directions, therefore `eta_rho` and `eta_u` are not exactly the same, and neither are `xi_rho` and `xi_v`. That is why curvilinear grids do use this convention. We still use linear interpolations between gridpoints, cos the res

[2018-07-19 23:50] rabernat commented on #108
I think that my message above must not have been clear.

Xgcm works just fine with curvilinear grids. We have many examples of this, from many different models. What I mean by orthogonal is that xi and eta are treated as independent variables in the model discretization. I used the words “zonal” and “meridional” in quotes to suggest that they were not actual spatial directions, but I guess it wasn

[2018-07-20 00:00] rabernat commented on #108
Some context from the [ROMS wiki](https://www.myroms.org/wiki/Curvilinear_Coordinates_Transformation)

This makes it clear that *orthogonal* and *curvilinear* are not mutually exclusive. The variables xi and eta form an orthogonal coordinates system.

[2018-07-20 00:23] vrx- commented on #108
That is correct, but `eta_rho` and `eta_u are` not at the same point because the grid is curved, so replacing the `eta_u` coords by `eta_rho` coords wouldn't work. My original thought was that they both are in the "center" positions of the axis, but that's actually not the case.
Here an idea of how the grid looks like

![image](https://user-images.githubusercontent.com/4974512/42976754-055f0880-8b

[2018-07-20 00:46] roxyboy commented on #108
I'm kind of late to the game but this more or less what I did (I did end up renaming the coordinates):

[code]

[2018-07-21 01:46] vrx- commented on #108
@jbusecke 's solution works nicely. (I guess I was tired yesterday so I got myself confused about xi_v and eta_u vs lon_v and lat_u).
[code]
[code]
[code]

[code]

Which is what I expected it to be
So yes, replacing the name of those dimensions work. However, I must point out that those dimensions follow the [SGRID convention for ROMS](http://sgrid.github.io/sgrid/#roms) which is used by many peop

[2018-07-21 04:46] jbusecke commented on #108
Awesome! Glad that helped. I think in the long term it might be easier to have a „conversion tool“ for these kinds of grids, since those logical grid positions are indeed redundant. This keeps the internal logic of xgcm „clean“.
In the short term it would be great if we could add this to the documentation so that other user can discover it easily.

Julius Busecke

[2018-07-21 07:10] rabernat commented on #108
Wow, sgrid has come a very long way since I first started working on xgcm! At the time, comodo conventions appeared to be the only developed standards for this problem. Yes, we would definitely like to support the sgrid conventions.

[2018-07-21 07:31] rabernat opened #109 "Support SGRID conventions"
Since we started working on xgcm, a new convention for staggered grid netCDF metadata has emerged:
http://sgrid.github.io/sgrid
(We learned about this thanks to @vrx- in #108.)

Reading through the document, I am pleased to see a huge amount of conceptual overlap between the sgrid and xgcm data models. This is a good thing! It means that there is one clear solution to this problem, and multiple in

[2018-07-21 13:48] vrx- commented on #109
The [Texas-Louisiana Regional ROMS Shelf Model](http://barataria.tamu.edu:8080/thredds/catalog.html?dataset=txla_hindcast_agg) ( @hetland)

[2018-07-30 13:03] hrajagers commented on #109
Hi Ryan, Sorry for the slow ping. Following the success of the [UGRID](http://ugrid-conventions.github.io/ugrid-conventions/) we drafted SGRID as a lightweight meta data layer to add staggered grid information to NetCDF files using a syntax very similar to that of UGRID. Although we received several positive reactions, the uptake is slow. It's time for some tools to start leveraging the additional

[2018-07-30 13:12] rsignell-usgs commented on #109
The [USGS COAWST forecast results](https://gamone.whoi.edu/thredds/catalog/coawst_4/use/fmrc/catalog.html?dataset=coawst_4/use/fmrc/coawst_4_use_best.ncd) are also SGRID compliant.

[2018-07-30 13:22] hrajagers commented on #109
In addition: SGRID describes what xgcm refers to as "simple grids". We don't address the connectivity of multiple structured grid tiles, but we did look into this topic for unstructured grids. An initial text on this topic was drafted at https://publicwiki.deltares.nl/display/NETCDF/Mosaics+of+meshes. We have more recently revisited this topic internally at Deltares for connecting 1D and 2D hydrau

[2018-07-30 13:42] rabernat commented on #109
Thanks a lot for the feedback!

With xgcm, we are very interested in following standards (rather than making up new metadata conventions). That's why we followed the [comodo spec](http://pycomodo.forge.imag.fr/norm.html), which was well established (if not widely adopted) at the time we started coding. Have you had any interaction with those folks?

To actually implement this, what is required is

[2018-07-30 14:01] rabernat opened #110 "spurious coordinates added when input datasets have dimensions without coordinates"
In https://github.com/xgcm/xgcm/issues/108#issuecomment-406433489, @vrx- suggested that xgcm might not be properly handling xarray dimensions without coordinates. This is plausible, since, when I started working on xgcm, coordinates were required for all dimensions.

I couldn't actually find an example where this causes xgcm to break. However, some unexpected things do happen.

Create a dataset wi

[2018-07-30 14:08] rabernat opened #111 "validation of input dimensions sizes"
It is currently possible to create `Grid` and `Axis` objects whose sizes are not compatible with xgcm's data model.

This should not be allowed

[code]

According to our own [docs](http://xgcm.readthedocs.io/en/latest/grids.html#axes-and-positions), the `outer` position should have a length of 10. So this (and all similarly erroneous Grid / Axis creation operations) should raise errors.

[2018-07-30 15:03] jbusecke commented on #68
I have implemented this as an interpolation approach here (https://github.com/jbusecke/xarrayutils/blob/master/xarrayutils/utils.py)

But I think we would want some additional functionality:
1) Performance improvement using [numba](https://numba.pydata.org)
2) A conservative remapping (instead of interpolation?)

I am also wondering if xgcm is the right module. E.g. what unique internal 'knowledge

[2018-07-30 15:05] jbusecke commented on #72
Was this ever solved? I cant access the link anymore. So ill go ahead and close this for now.

[2018-07-30 15:05] #72 closed

[2018-07-30 15:09] jbusecke commented on #79
@rabernat: Could you check the new defaults and see if you find them more intuitive?
With the new extrapolation the problem above should be solved.
We should probably still add a test for the future.

[2018-07-30 15:10] #75 closed

[2018-07-30 15:12] jbusecke commented on #95
Can we close this?

[2018-07-30 15:15] willirath commented on #95
Yes.

[2018-07-30 15:15] #95 closed

[2018-07-30 15:32] raphaeldussin commented on #68
Hi Julius,

I have got a python-wrapped fortran code for vertical interpolation, maybe that can
speed up things.

https://github.com/raphaeldussin/MITgcm-recipes/blob/master/pre-processing/regridding/mod_akima_1d.f90

[2018-07-30 15:41] jbusecke commented on #68
Sweet. Can you handle all dependencies through conda with this? I definitely do not want to break the 'ease' of a conda installation.
In the long term I think there need to be several options for interpolation/regridding to mimic specific model codes, so we could add several ways and then benchmark them too.

But in terms of my second question. I am not sure if this is a 'core' xgcm functionality:

[2018-07-30 15:53] rabernat commented on #68
I hope you all know that xarray now has 1D and multidimensional interpolation.
http://xarray.pydata.org/en/latest/interpolation.html

The caveat is that it only works with dimension coordinates, so it can't do full geometrically correct conservative regridding. For that, there is xesmf: http://xesmf.readthedocs.io/en/latest/l

Given our difficulty keeping up with basic maintenance of xgcm, I am ve

[2018-07-30 15:55] rabernat commented on #79
I think what we are waiting on here is an example of the autogenerate module for the docs. This will be very valuable in deciding whether we are happy with the API. (Also mentioned in #105)

[2018-07-30 15:56] jbusecke commented on #68
Ah cool. I wasnt aware of xesmf. That looks very helpful.

I agree, that we should conserve the energy for features that are unique to this package.

Closing

[2018-07-30 15:59] jbusecke commented on #79
I took a shot at a new doc in #106

It is not complete, and In notebook form, which makes the API links awkward.

Any feedback is very much appreciated.

[2018-07-30 16:00] rabernat commented on #79
Sorry, my bad! I lost track of that PR. Will review now.

[2018-07-31 21:02] rabernat opened #112 "latest rtd build failed"
I was excited to see the results of @jbusecke's new example (#106) in the online docs. Unfortunately the rtd build failed:
http://readthedocs.org/projects/xgcm/builds/7570337/

[2018-07-31 21:08] raphaeldussin commented on #112
ok I think I know how to fix it

[2018-07-31 22:26] jbusecke commented on #112
Oh shoot. Did I mess something up? Is there a way to test the rtd build as part of the ci?

[2018-08-10 03:57] TomNicholas opened #113 "xgcm for plasma physics instead of atmospheric physics"
The tools you are building here look like they could be potentially useful for a much wider audience than just atmospheric physicists. Anyone who runs simulations which produce results on a staggered grid and with non-trivial topology could benefit, but I'm thinking specifically of plasma physicists from the magnetically-confined-fusion (MCF) community.

MCF physicists routinely run large-scale, 3

[2018-08-10 16:06] rabernat commented on #113
Hi @TomNicholas. Thanks a lot for your interest in the project!

I am an oceanographer, and xgcm is currently most used in the context of ocean modeling.

You are correct--the approach is applicable in principle for any finite volume model in orthogonal curvilinear coordinates. (Unstructured meshes are probably out of scope for now.) There has been plenty of exchange between the GFD / MHD communit

[2018-08-10 16:07] rabernat commented on #112
@raphaeldussin -- what is the fix you have in mind. It would be great to get these new docs up and proceed with the 0.2.0 release (see #105).

[2018-08-10 17:26] raphaeldussin commented on #112
I thought it was similar to the problem we had with xmitgcm but it's not :(
I spoke too fast

[2018-08-10 19:19] TomNicholas commented on #113
Okay great!

I don't know if I personally will need to use this library soon (simply because my simulations have a super-simplified geometry), but I just wanted to check that collaboration was possible before I suggested it to the people who develop BOUT++ and its main user tools.

Don't worry, I'm already a convert to xarray!

(I'll close this issue until I have more specific questions)

[2018-08-10 20:04] rabernat commented on #113
FYI, we wrote a package to read our model's custom binary data format into xarray (lazily using dask): https://github.com/xgcm/xmitgcm/

You may find this a useful template if you also have a custom binary data format.

[2018-08-20 16:16] jbusecke commented on #112
I would be happy to look into this, but I cannot find any more detailed logs than the "FAILED" on there. Does anyone know where I could start diagnosing what is wrong?

[2018-08-20 17:16] rabernat commented on #112
http://readthedocs.org/projects/xgcm/builds/7570337/ (I just triggered
another build)

I think the best long term solution would be to avoid building the docs on
RTD (which has become flaky in general) and build them instead on Travis.
This is what xarray now does:
https://github.com/pydata/xarray/blob/master/.travis.yml#L99-L101

On Mon, Aug 20, 2018 at 12:16 PM Julius Busecke <notifications@gith

[2018-08-20 18:09] jbusecke commented on #112
Ok great. They are working for me now. That sounds like a good idea @rabernat. Should I open a new issue?

[2018-08-21 14:43] rabernat commented on #112
It seems like it is magically fixed now! https://xgcm.readthedocs.io/en/latest/autogenerate_examples.html

Lets go ahead and release 0.2.0.

[2018-08-21 14:43] rabernat commented on #105
Ah I spoke to soon about the release. I should add my ecco example notebook.

[2018-08-21 19:54] jbusecke commented on #112
Ill close this then.

[2018-08-21 19:54] #112 closed

[2018-08-27 19:47] rabernat commented on #109
More generally, all these conventions should be supported:
http://www.earthsystemmodeling.org/esmf_releases/last_built/ESMF_refdoc/node3.html#SECTION03028000000000000000

[2018-09-04 23:54] JianghuiDu opened #114 "cannot find autogenerate"
`xgcm` is installed and otherwise works find. But can't import `autogenerate`
[code]

[2018-09-05 00:08] JianghuiDu commented on #114
I uninstall the package (which was installed using `conda` and reinstall from the source. It still doesn't work but the error message has changed
[code]

[2018-09-05 04:55] JianghuiDu commented on #114
strange, after restarting my pc it worked.

[2018-09-05 04:55] #114 closed

[2018-09-05 13:27] rabernat commented on #114
Thanks for your feedback @JianghuiDu. Sorry about your installation troubles. I'm glad it's worry for you now. We will keep and eye out to see if anyone else has similar problems.

[2018-09-20 02:32] shoyer opened #115 "Yee grid for electromagnetic simulations"
The [Yee grid](https://meep.readthedocs.io/en/latest/Yee_Lattice/) is frequently used for discretizing Maxwell's equations:
![image](https://user-images.githubusercontent.com/1217238/45791895-6ac4a080-bc40-11e8-992e-3c1128b5381a.png)

Obviously E&M simulations aren't general circulation models, but otherwise these grids look like a very good fit for xgcm. The set of desired post-processsing operat

[2018-09-20 02:56] rabernat commented on #115
Yes! I think much of this would work today, straight out of the box. Every point on that diagram can be described as some combination of center and edge locations. The xarray dataset would need to use different dimensions to represent these different points, and their relationships would have to be specified in the xgcm.Grid constructor.

I expect the challenges are mostly related to the represent

[2018-09-20 10:31] xy6g13 opened #116 "llc4320 face connections?"
Hi all,
does anybody have llc4320 face connection to be used with xgcm?
Something like:
[code]

[2018-09-20 12:37] rabernat commented on #116
Yes! We are planning to add some examples from llc grids to the docs. For now, you can look at this:

https://gist.github.com/rabernat/20dc23ac14c26880715f0ffe5fe8ff88

[code]

There are a few simple examples of using xgcm with the llc90 grid here:
https://gist.github.com/rabernat/a4158e23f50470f1a55be54910a2134b

Everything is identical with llc4320, you just need LOTS more memory! ;)

[2018-09-20 14:14] xy6g13 commented on #116
Thanks very much for your quick reply. Very helpful.

It turned out I have the same issue just like your 'In[98]' in the link you shared (i.e. grid.diff/interp only works for the center points when I consider face connections). Do you have any suggestion to let it work at locations of u and v?  Thanks!

[2018-09-20 15:33] shoyer commented on #115
OK, so it looks like the Yee grid would actually be a perfect fit for xgcm right now -- if only because you haven't yet implemented the high level interface for calculus! :)

It isn't a deal breaker to not have high level operators that act on vectors. These are pretty easy to write by hand. Actually, for E&M it's a little bit easier, since the coordinate systems are usually regular (but staggered

[2018-09-20 15:47] rabernat commented on #116
Unfortunately this is not implemented yet. The corner vorticity points involve a three-way exchange  between faces, and I have not had time to figure it out.

The relevant code is here:
https://github.com/xgcm/xgcm/blob/f9daf9db67ac8ce7ed382734496bda241be5efd9/xgcm/grid.py#L314-L331

It would be amazing if someone (you?) wanted to volunteer to work on this. It would be very valuable to the MITgcm

[2018-09-20 15:49] rabernat commented on #116
It is also worth pointing out that, the higher the resolution, the less the exchanges actually matter. One temporary work around is simply to skip the face connections completely and operate on each tile as if it were independent. For LLC4320, this means throwing away 2 out of 4320 data points. I can't imagine that this makes any practical difference for real-world calculations.

[2018-09-20 16:48] maikejulie commented on #116
Agreed. I think this likely matters for the lower resolutions (e.g. LLC90), but for higher resolution off-line work I think it is more a matter of principles.

[2018-09-21 13:49] apatlpo commented on #116
I'm working with @xy6g13 and took a look at the xgcm code but I am afraid that proposing any fix for this is technically out of reach for us at the moment. Sorry about this.

We'll follow your advice and treat tiles separately, ignoring edges for now.

[2018-09-21 14:00] apatlpo commented on #116
I still have a question though, related to the following example.

With the following data and grid (follows [xgcm cube sphere example](https://xgcm.readthedocs.io/en/latest/grid_topology.html#cubed-sphere)):
[code]

Could you please confirm that if I want to interpolate velocity to the middle point I should do:
[code]
which leads the following error:
[code]

Could you also please confirm that try

[2018-09-21 14:04] jbusecke commented on #115
I am still very much interested in the higher level interface calculus (and more), and will soon have some more time to work on it.
Once the first steps are implemented, I think it would be wonderful to get feedback for non-GCM type situations.

[2018-09-21 14:18] rabernat commented on #116
This should work and does work with ecco. The problem may be that the grid specification for this contrived CS grid is somehow inconsistent.

Here is an example of using `interp_2d_vector` and `diff_2d_vector` functions on the ECCO LLC90 grid:
https://gist.github.com/rabernat/fcb944ddbc19237d1bc1292c5adf9bfe

You can run this right now from pangeo.pydata.org and verify it works.

[2018-09-21 14:42] apatlpo commented on #116
ok, I tried on pangeo.pydata.org and it seemed to be working.
seemed because at the plotting stage I've got the following error:
[code]
will try latter on again

[2018-09-21 14:47] rabernat commented on #116
This is the same issue that #chiara7 is having in https://github.com/pangeo-data/pangeo/issues/392. I think there is a new bug in pangeo.pydata.org.

[2018-09-21 15:00] rabernat commented on #116
Ok, I think I see what happened. The docker image for https://github.com/pangeo-data/helm-chart/pull/65 never built for some reason.

[2018-09-21 15:03] rabernat commented on #116
Or it built, but it didn't push to dockerhub.

[2018-10-01 13:50] #107 closed

[2018-10-01 13:51] rabernat commented on #116
FYI, all the problems on pangeo were fixed last week. Have you been able to proceed?

[2018-10-02 12:44] apatlpo commented on #116
Works like a charm ! Very impressive !

Now, could you please develop your statement:
`The problem may be that the grid specification for this contrived CS grid is somehow inconsistent.`

Are you suggesting, there may be an issue with the value given to coordinates?

[2018-10-12 10:53] TomNicholas commented on #113
I was looking into how I would use this for BOUT++ data a bit further, but I have a question:

In all the examples of complex topologies I've seen ([for example here](https://xgcm.readthedocs.io/en/latest/grid_topology.html#cubed-sphere)) then each connected face has the same shape, and is stored in the same dataset (indexed by the `face` dimension). What if I have a logically rectangular domain,

[2018-10-12 11:59] rabernat commented on #113
The limitation is more with xarray / numpy’s data model. What you are describing, different shapes along the face dimension, is a ragged array. This is not supported anywhere I the python ecosystem afaik. Our workaround is to break the faces into tiles of equal size.

Sent from my iPhone

[2019-02-21 17:16] willirath opened #119 "[DOC] Link to pycomodo is broken"
<http://pycomodo.forge.imag.fr/> gives a 503

Also, Google does not seem to bring up any other place with the comodo specs?

[2019-02-21 17:18] willirath commented on #119
Short term, this could be used instead:

https://web.archive.org/web/20160417032300/http://pycomodo.forge.imag.fr/norm.html

[2019-02-21 18:25] rabernat commented on #119
Bummer! Do you know how owns that website?

[2019-02-21 18:32] willirath commented on #119
There's a website of the building (what?!) ... https://batiment.imag.fr/en

Maybe @lesommer knows what happened to the comodo project and if there's any effort in keeping the outcomes (and the pycomodo docs in particular)?

[2019-03-13 09:02] navidcy opened #122 "Error using coords keyword"
I was having headaches with output from MOM6 which uses staggered C-grid... then I (re)discovered xgcm! Nice work you've done here! 👍

However, I want to point out something. Following the [documentation](https://xgcm.readthedocs.io/en/latest/grids.html#manually-specifying-axes) I went on and called
[code]
but I got an error saying `coords` is an unexpected keyword argument. See here for specifics

[2019-03-13 11:30] rabernat commented on #122
This is likely because this feature has not been "released" yet (it was added in 817326afd15dddce3201ed84ec8c5f2367c5068f). If you are installing from pip, you still have version 0.1. We need to actually release 0.2 (see #105). In the meantime, you can install directly from git:
[code]

[2019-03-21 03:01] rabernat commented on #105
Face connection examples added in #124.

[2019-03-25 22:50] #122 closed

[2019-04-01 21:46] raphaeldussin opened #126 "bug interp meridional velocity ?"
@rabernat xgcm seems not be ok with interpolating meridional velocities along X and Y axes,
for all boundary options. For example:

[code]

am I doing it wrong? or is it a problem here?

[2019-04-03 20:49] raphaeldussin commented on #126
nevermind, figured it out:

[code]

[2019-04-03 20:49] #126 closed

[2019-04-03 20:51] #105 closed

[2019-04-03 20:52] rabernat commented on #126
Could we have an improved documentation or error message related to this?

Also, interpolation to vorticity point does not work on LLC-type grids. That's what #117 is meant to fix (but it is not finished).

[2019-04-03 20:58] raphaeldussin commented on #126
I can put the code snippet for rotating velocities to geographical coordinates into

https://xgcm.readthedocs.io/en/latest/example_eccov4.html

just need to add to the notebook.

[2019-04-10 02:05] rabernat opened #127 "parse CF-style "bounds" coordinates into xgcm axes"
Datasets like this are fairly common:
[code]
[code]

This dataset follows CF conventions on [cell boundaries](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/cf-conventions.html#cell-boundaries).

It seems like we should be able to automatically parse these coordinates into xgcm axes / grids, with e.g. lon at the center point of the X axis and lon_bnds at the outer point.

[2019-04-10 14:34] jbusecke commented on #127
Great idea. That would help with a lot of observational datasets.
I have used this style of output to calculate static cell depth in MOM5 output as well. There both cells (`center` and `left` along axis `Z`) are given with bounds.
I am wondering: Should xgcm check consistency in such a case?
For example do we want to make sure that the left bound of the `center` cell is equivalent to the right bou

[2019-05-08 20:59] rabernat opened #129 "readthedocs not building"
We just pushed a new commit to master, but RTD is not building

https://readthedocs.org/projects/xgcm/builds/

Seems nearly identical to https://github.com/xgcm/xmitgcm/issues/131

I wonder if these was a change to github / rtd that triggered this? @raphaeldussin - do you have any hints?

[2019-05-19 15:57] jbusecke commented on #102
@rabernat layed the foundation to make xgcm 'metric-aware' in #99.
This represents a great step forward to #81.

After discussing things with @rabernat I implemented `Grid.integrate` in #130.
Note that I discovered a bug in #99 which i fixed in this PR and also added a bunch more tests.

@rabernat, could you take a look at the changes? I might have butchered your elegant function, but for now it d

[2019-06-14 09:30] jaard commented on #68
I am currently stuck with this issue, trying to interpolate from 3-D depth array on sigma-levels in ROMS to a new z-level dimension. Unfortunately xarray interpolation doesn't work as @rabernat pointed out, since the depth is not a dimension (yet). I would like to push xarray a bit in the ROMS/CROCO community, but a clean xarray/dask way of doing the interpolation from sigma-levels to z-levels is

[2019-06-14 11:16] jbusecke commented on #68
I have implemented a dask friendly version of ‘groupby_bins’ which conserves tracer content [here](https://github.com/jbusecke/xarrayutils/blob/master/xarrayutils/vertical_remapping.py).
I have successfully tested it going from z to density coordinates. It is not super well documented but Id be happy to work further on it if there is interest. Do you want to give it a try and report back?

[2019-06-14 12:24] jaard commented on #68
Thanks! I will try your solution and report back.
I got a similar example of using binning from @willirath a few days ago, but I was reluctant to follow that path because I haven't completely wrapped my head around it yet.

Does your solution give similar result as simple linear interpolation between two levels?
Obviously linear interpolation doesn't conserve tracers, but that's how the MATLAB Rom

[2019-06-14 12:26] jaard commented on #68
One more question: How does your code handle boxes that cross the boundaries of the new bins? Sure there must be some interpolation involved there?

[2019-06-14 13:11] willirath commented on #68
See https://gist.github.com/willirath/9479c62e8db1c1e4f233d949d2f0f460 for an xarray native approach to vertical linear interpolation.  Not sure this is the way to go.  But it may be instructive for understanding the performance critical aspects of parallelized regridding.

[2019-06-14 13:14] jbusecke commented on #68
It does not. That is one (quite strong) limitation.

I am very interested in this functionality and I think my goal would be to emulate the functionality of the [MOM6 code](https://github.com/NOAA-GFDL/MOM6/blob/dev/gfdl/src/ALE/MOM_remapping.F90).
Their term for converting from one arbitrary vertical coordinate system into another is ‘remapping’. I believe it is general enough to handle any kind

[2019-06-14 13:21] jbusecke commented on #68
Thinking more about it maybe it is within the scope of xgcm.

One way or the other I think it would he tremendous to converge various model communities into one general software package to achieve these common operations!

[2019-06-14 14:11] rabernat commented on #68
Xhistogram will really help with this
https://github.com/xgcm/xhistogram

It’s basically ready for release. Just needs some examples in the docs.

[2019-06-14 14:12] raphaeldussin commented on #68
My 2 cents (since I've been tagged :) ) :

* for z to terrain following coordinates interpolation, I had it coded a while back into sosie here:

https://github.com/brodeau/sosie

however sosie is a standalone fortran code and at some point I needed a vertical interpolation in python.
My quick and dirty approach was to wrap the fortran with f2py, and it's quick. I have an example of this here:

htt

[2019-06-16 14:04] willirath commented on #68
@rabernat Xhistogram looks awesome!  Here's a self-contained (using xarray's builtin demo data) example of an area-weighted histogram of geo-referenced temperature data: https://gist.github.com/willirath/aa78cdf1fa9399b0252bbcddab9382a5

[2019-07-05 18:16] jbusecke opened #133 "Wrong usage of `message` argument while checking exeptions."
#132 showed that some test failed due to the deprecation of the `message` keyword in `pytest.raises`.

Apparently, this was done because this parameter was often misinterpreted (also in xgcm) as check for the specific message which was raised in an exception, while in fact only provides a [custom error message when `pytest.raises` fails](https://docs.pytest.org/en/4.6-maintenance/deprecations.html

[2019-07-05 18:24] jbusecke opened #134 "Rename conda test env"
Our ci yml files create a test environment with the generic name [`test_env`](https://github.com/xgcm/xgcm/blob/f9b58ff986da3cddc99044f6a3b576a467d09b94/ci/environment-py36.yml#L1), which is problematic since it is also used by e.g. xarray.

I propose to rename our environment to `test_env_xgcm`, so that one doesn have to reinstall environments when submitting PRs to different packages.

[2019-07-10 21:45] jbusecke commented on #133
Closed via #136

[2019-07-10 21:45] #133 closed

[2019-07-10 21:48] jbusecke commented on #81
Horray  #99 and #136 now enable us to work with grid metrics internally. Closing this.

[2019-07-10 21:48] #81 closed

[2019-07-11 15:28] jbusecke commented on #134
Closed via #139

[2019-07-11 15:28] #134 closed

[2019-07-11 16:50] rabernat opened #142 "examples for different models"
It would be great to have an example gallery in the docs which shows xgcm usage with many different ocean / atmosphere models. A partial list would be

### Ocean

- [x] mitgcm
- [ ] mom5
- [ ] mom6 (almost done in https://github.com/pangeo-data/pangeo-ocean-examples)
- [ ] pop (done in https://github.com/pangeo-data/pangeo-ocean-examples)
- [ ] ROMS
- [ ] NEMO
- [ ] Oceananigans (https://climate-m

[2019-07-11 16:50] #129 closed

[2019-07-11 19:04] jbusecke opened #143 "Add metadata with operations"
I think it would be good to add metadata about the processing in some way. Especially now that we process the metrics under the hood it would be great to have an `attrs` field that says e.g. `integrated along axis X using dxc as weight with xgcm vx.y.z`.

What do you think?

[2019-07-12 20:09] jbusecke commented on #79
Should we close this?

[2019-07-12 20:10] jbusecke commented on #86
Should we integrate this into a larger "Improved docs" Milestone?

[2019-07-12 20:25] jbusecke commented on #102
While the last kinks of `integrate` are ironed out (#130), I would like to start a discussion about other functions using the new metrics capability of xgcm (#136).

The obvious next candidate is a weighted average (I think it should work as `grid.average(da, axis)`.

What other functions could be needed (not that I want to implement them all right now, but its good to discuss):
- weighted std?
-

[2019-07-13 04:45] dhruvbalwada commented on #102
Is this similar to what https://xhistogram.readthedocs.io/en/latest/ wants to do in the longterm? Maybe that will be a better project to have these discussions around?

[2019-07-13 04:51] rabernat commented on #102
@dhruvbalwada - thanks for weighing in! (No pun intended 🤣 )

Here we are talking about reductions operations happening in grid space. Like a zonal mean or mean over the domain. It's something we already do every day when we do
[code]
(area-weighted sum of SST)

The "weight" concept in xhistogram is about something related but different: what weights to assign to each point when calculating a hist

[2019-07-19 19:01] hetland opened #144 "Calculating isosurfaces"
I just left [a comment in another package](https://github.com/lesommer/oocgcm/issues/42) about an xarray native isoslice routine. Would it be useful to include this in xgcm?

One one hand, it's not specifically part of xgcm's core mission, but on the other hand, it seems related. There is a coordinate hack, but these coordinates are eventually lost in the result. The algorithm requires monotonic d

[2019-07-23 10:43] rcaneill opened #145 "Interpolation (not centred)"
Hello,
I am trying to figure how to do interpolation that are not centred, e.g. when a "center" point is not at the middle point of 2 "right" points. I tried different ways but I did not manage to find a satisfying way that would fit in the xgcm.Axis class.
My idea was to implement a new function for interpolation between data_left and data_right, taking also a weight representing the distance to

[2019-08-06 14:43] rabernat commented on #145
Hi @rcaneill - thanks for this useful idea.

So far, xgcm only supports grids in which the variables are assumed to be centered. But I know this is not the case for some models, like MOM5 / MOM6. Could you let us know what is your specific use case here?

As you have already seen, the interpolation function is exceedingly simple:

https://github.com/xgcm/xgcm/blob/cac66afeb2426546b142aef07b7752bd0

[2019-08-06 14:53] cpatrizio88 opened #146 "LLC90 grid and face connections"
Hello,

I am trying to differentiate some ECCO fields on the LLC90 grid using xgcm, and having some issues working with subsets of the grid (see https://ecco.jpl.nasa.gov/products/latest/user-guide/ for a brief overview of the grid).

Using all 13 faces, this can be done easily with the following code:

[code]
Where this fails is when working with only a subset of the 13 faces. For example, if I a

[2019-08-06 16:06] rabernat commented on #146
Thanks for reporting this issue! This logic is here quite thorny, so it can be hard to debug. It sounds like the face_connections dictionary is not being specified right.

There are a couple of workarounds I can suggest for the short term:
- Just use the full 13 faces and do your subsetting at the very end
- Use the function [faces_dataset_to_latlon](https://xmitgcm.readthedocs.io/en/latest/llcrea

[2019-08-06 16:32] cpatrizio88 commented on #146
@rabernat  thanks for the suggestions!

I'm going to take a stab at your second suggestion (as I am trying to avoid doing computations for all faces). So I imported llcreader from xmitgcm, however it says that module 'xmitgcm.llcreader' has no attribute 'faces_dataset_to_latlon'. I am using version 0.4.1 of xmitgcm.

[2019-08-06 16:38] rabernat commented on #146
This was just added to the public API in a PR I made today. So you would need the latest master for that to work.

However, you should be able to do `from xmitgcm.llcreader.llcmodel import faces_dataset_to_latlon`.

[2019-08-06 16:44] cpatrizio88 commented on #146
Great thanks, that import statement worked!

[2019-08-06 17:54] cpatrizio88 commented on #146
I successfully converted my dataset from faces to lat-lon using the faces_dataset_to_latlon function, however when I go to make an xgcm grid using the new lat-lon dataset, I get the following error:

[code]

[2019-08-20 08:48] rcaneill commented on #145
Hi,
I am using NEMO in s coordinates, where the vertical variable are not necessarily centered.
I'll think about the design questions and keep you in touch if I find a clean solution.

[2019-09-11 19:14] jbusecke opened #147 "autogenerate notebook not rendering in docs"
I just noticed that the code cells in the [autogenerate doc page](https://xgcm.readthedocs.io/en/latest/autogenerate_examples.html) are not rendered correctly. Other pages seem to work.

@rabernat, do you have an idea what could be causing this?

![Screen Shot 2019-09-11 at 3 12 50 PM](https://user-images.githubusercontent.com/14314623/64727426-d84b8b80-d4a6-11e9-99a5-eb1ec01dceb7.png)

[2019-09-11 19:16] jbusecke opened #148 "wrong doc link"
The 'edit on github' link on the docs mainpage is broken.

I am not sure where that is defined...

[2019-09-11 19:46] rabernat commented on #148
Weird. The notebooks should be un-executed in github and should get built during the build process.

My recommendation to debug is to build the docs locally to see what's going on.

[2019-09-11 19:47] rabernat commented on #147
Weird. The notebooks should be un-executed in github and should get built during the build process.

My recommendation to debug is to build the docs locally to see what's going on.

[2019-09-11 19:49] rabernat commented on #148
Hmmm. I found some useful information about that [here](https://lmgtfy.com/?q=sphinx+edit+on+github+link).

[2019-09-11 19:57] jbusecke commented on #148
Note to myself: Keep bugs you notice while doing 5 other things in my private to-do (where they will die a solitary death) instead of jotting them down in an issue quickly if I want to avoid @rabernat 's almighty snark 😆

[2019-09-11 20:05] rabernat commented on #148
I only do it cause I love you 🤗

[2019-09-11 20:58] jbusecke commented on #147
Will do when I have a minute.

Julius J.M. Busecke, PhD (he/him)
———————————————
Postdoctoral Research Associate
Princeton University • Geosciences
408A Guyot Hall • Princeton NJ
jbusecke.github.io

[2019-09-17 17:12] dcherian opened #149 "Add Grid.boundary"
How about having `xgcm.set_options(boundary="extend")` or similar to save quite a lot of typing?

[2019-09-17 17:28] willirath commented on #149
First thing that comes to mind: It's quite likely that people use XGCM for different grids within the same session.

[2019-09-17 17:29] dcherian commented on #149
Right I was thinking this would be exactly like `xarray.set_options` which can be used as a context manager. So `with xgcm.set_options(boundary="extend"): ` etc. The default can stay `None` which is the current default so it won't break anything...

[2019-09-17 17:54] rabernat commented on #149
Good idea. But one might not want to set these globally, since someone might be working with multiple different Grid objects in one session.

Instead, they could be attached to a grid. For example

[code]

Then every time you did `grid.diff(data, 'X')` it would apply the specified boundary condition.

[2019-09-17 17:58] dcherian commented on #149
That's even better!

[2019-09-17 18:00] rabernat commented on #149
PR welcome! 😉

[2019-09-17 18:04] rabernat commented on #149
The path to implementing this would be to attach a new attribute to Axis objects

https://github.com/xgcm/xgcm/blob/cac66afeb2426546b142aef07b7752bd02ea0ebb/xgcm/grid.py#L59-L77

and then pass that through the Grid constructor.

[2019-09-17 21:28] ALDepp opened #150 "grid.diff dropping coordinates"
Hi all,  I am wondering about the behaviour of grid.diff.

For example, when I find the differences of a variable ds.DIA_IMPVF_TEMP, output:

<xarray.DataArray 'DIA_IMPVF_TEMP' (time: 1, z_w_bot: 62, nlat_t: 305, nlon_t: 1301)>
dask.array<shape=(1, 62, 305, 1301), dtype=float32, chunksize=(1, 62, 305, 1301)>
Coordinates:
  * z_w_bot  (z_w_bot) float32 1000.0 2000.0 3000.0 ... 574999.06 599999.06

[2019-09-18 00:06] rabernat commented on #150
Hello and welcome to xgcm! Thanks so much for raising an important issue.

Yes: for now this is intentional. Xgcm drops all non-dimension coords from the inputs immediately. This makes alignment of slices less error prone and expensive.

However, if users find this inconvenient, we could consider changing this behavior. At the very least, the behavior should be well documented in the docs.

In my

[2019-09-26 19:04] dcherian opened #151 "xgcm.shift?"
Sometimes it is useful to multiply values at cell centers by face heights that at cell edges.

I'm thinking it would be nice to have `grid.shift` to blindly change locations from centers to faces and vice versa.

e.g `grid.shift(center_var, axis="x", direction="right") * face_var` (result at face points with no interpolation)

[2019-10-01 03:17] jbusecke opened #154 "Current build broken?"
It seems that both #153 and #130 both have the same errors that seem unrelated at first look.

The last build of the master branch was 3 months ago, did something change with the `xr.concat` function, that breaks `add_to_slice`?

I just pulled the latest master and I can confirm the same tests failing for me locally.

[2019-10-01 04:26] jbusecke commented on #86
This was covered by #106. Closing

[2019-10-01 04:26] #86 closed

[2019-10-01 04:28] jbusecke commented on #102
I think this functionality is essential to have for the upcoming CMIP6 hackathon. I am happy to advance this once we have dealt with #154, #130 and #132. Just wanted to ping the issue.

[2019-10-01 04:32] jbusecke commented on #127
This might also be a good fit for the CMIP6 Hackathon, where I assume many tasks will evolve around model validation. Being able to pass observational datasets into xgcm and get a volume/ area weighted sum/average could be very beneficial. I could try to work this into the autogenerate module? And maybe also address the longstanding #79?

[2019-10-01 14:41] jbusecke commented on #150
One can also 'reassign' the resulting array to the parent dataset by doing something like `ds['new_variable'] = grid.diff(ds['old_variable'], 'Y')`.

That way I believe all compatible coordinates are available when calling `ds['new_variable']`.

I have had much trouble with some coordinates in the past and would like to retain this behavior as a default. But if you find the above workflow not suit

[2019-10-01 14:46] roxyboy commented on #103
I personally support such functionality (from selfish motives).

[2019-10-01 14:52] jbusecke commented on #103
Since @roxyboy revived this on slack, I wanted to quickly update what I envision here. Hopefully others can chime in.

I would like to be able to eventually do this:
[code]

[2019-10-01 18:13] dcherian commented on #154
See https://github.com/pydata/xarray/pull/3362

Thanks for finding this. I think `xgcm` should test using xarray master so that these bugs can be caught before release.

[2019-10-01 18:16] rabernat commented on #154
Thanks for working on this guys!

[2019-10-01 18:30] jbusecke commented on #154
Ok I am happy to implement this. @dcherian, is there another package that does this, so I can get inspiration how to implement?
I feel it would also be needed to trigger a rebuild of the master branch on travis (our current build is 3 months old), this would have at least alerted us a bit earlier.

[2019-10-01 18:59] dcherian commented on #154
Xarray does this with dask master. Really helps

[2019-10-01 19:15] dcherian commented on #150
This sounds like an xarray annoyance, so it would be great if you could open an upstream issue with an example.

[2019-10-01 19:54] jbusecke commented on #150
This has been one of these 'diffuse' problems that I had trouble condensing into a simplified example (since dropping the coords helped most of the time, I didn't bother too much after that). But I will certainly keep this in mind and try to submit an issue when I experience this again.

[2019-10-01 20:34] ALDepp commented on #150
Thanks for the tip! I'll try that.

[2019-10-03 21:14] jbusecke opened #157 "Accept multiple axes in `.interp()`"
I often find myself interpolating variables from the B-grid velocity point (north-east) to the tracer point, or vice versa.
Currently this looks like this:
[code]
I would love to be able to pass a list of axes to achive the same behavior like this:
[code]

This would be a nice addition to have also for the `min()` and `max()` functions. A use case for this would be to determine the cell depth of z

[2019-10-03 22:03] dcherian commented on #157
+20.

[2019-10-03 22:23] rabernat commented on #157
Great idea.

Implementation question: does the order matter here?

[2019-10-03 22:43] dcherian commented on #157
Hmm it's a bunch of linear operations so order shouldn't matter?

[2019-10-03 22:43] jbusecke commented on #157
Hmm I have always assumed that not, but perhaps there is a special case.
We could still accomodate that by internally following the order of the list. E.g. ‘grid.interp(..., [‘X’, ‘Y’])’ vs ‘grid.interp(..., [‘Y’, ‘X’])’
What do you think?

Julius J.M. Busecke, Ph.D. (he/him)
———————————————
Postdoctoral Research Associate
Princeton University • Geosciences
408A Guyot Hall • Princeton NJ
juliusbus

[2019-10-04 12:45] jbusecke opened #158 "Contributor Guide is missing from readthedocs table of content"
The [contributor guide](https://xgcm.readthedocs.io/en/latest/contributor_guide.html) is not shown in the rtd navigation. Ill get to this in a bit, just leaving it as a reminder.

[2019-10-07 21:55] jbusecke commented on #158
This should be fixed in #130. Will close as soon as that is merged.

[2019-10-07 22:02] jbusecke commented on #148
I found [this](https://github.com/readthedocs/readthedocs.org/issues/5518#issuecomment-475297781) but I think I do not have access to the rtd config page. Any chance you could give me access or try this workaround @rabernat?

[2019-10-09 15:56] jbusecke commented on #154
Closed via #155

[2019-10-09 15:56] #154 closed

[2019-10-09 23:15] jbusecke commented on #157
I just put out an idea how to implement this in #159, feedback greatly appreciated.

[2019-10-10 14:22] jbusecke opened #160 "Typo in metric docs"
Just found

This should be `Z` instead.

Will fix that in an upcoming PR.

But seeing this, I think it would be very helpful to have some way to build RTD for PRs.

[2019-10-10 14:25] jbusecke commented on #158
Closed via #130

[2019-10-10 14:28] #158 closed

[2019-10-10 15:03] jbusecke opened #161 "Beta application of continuous documentation via ReadTheDocs."
As @timothyas pointed out in # 160, rtd seems to have a beta version of building docs as part of a PR (and checking the status before a merge).

I just sent them an email and asked to be considered for the beta.

[2019-10-10 15:16] timothyas commented on #160
Sounds good to me!

[2019-10-10 16:20] jbusecke commented on #161
Just got a reply

![image](https://user-images.githubusercontent.com/14314623/66587337-388e2580-eb58-11e9-8e31-2dd0ea062c87.png)

Let me try to enable that and we can try it with the `grid.differentiate()` doc? @timothyas

[2019-10-10 16:21] jbusecke commented on #161
Hmmm It seems like I cannot access the repo settings. @rabernat, could you look into this if you have a minute? Thx

[2019-10-10 18:09] jbusecke commented on #102
I have a prototype implementation up in #162.

[2019-10-15 14:04] jbusecke commented on #144
Dear @hetland, sorry for the long delay. I think this looks fantastic (will probably use this today in my science application 😁), but could you explain why this would be suited for xgcm and not xarray?
This looks to me like it only acts on one set of dimensions of several xarrays. This might be a candidate to integrate into xarray directly? Or am I missing something here?

We are currently [explor

[2019-10-15 14:12] jbusecke commented on #127
So I initially tried this [here](https://github.com/jbusecke/cmip6-hackathon-demos/blob/master/notebooks/recreate_grid_metrics.ipynb), but it turns out that the `vertex` coordinate is not always ordered the same way for e.g. the CMIP6 ensemble: Effectively one doesnt know from the index which vertex corner is `northeast` etc.
This will require some more thinking, but since I realized that the CMIP

[2019-10-15 14:35] jbusecke opened #164 "Options to interpret missing metrics"
Working with xgcm data has made me acutely aware that for user friendlyness, we should probably have a keyword argument to infer missing grid metrics.

It is possible to infer some variables from 'CF bounds' (#127), but that will usually only give you either 1) the dx/dy centered at the tracer point - if `lat_bounds` and `lon_bounds` are given as two element arrays or 2) the dx at the north face a

[2019-10-15 16:32] hetland commented on #144
Yes, @jbusecke, you are correct that this acts only on two xarray arrays. In fact, the dataset reference (ds) could be removed I think, and users could pass references to the arrays directly. I think I just wrote it that way since that's what my development code looked like.

I would be happy to have something like this in xarray, and it seems to be something that wouldn't clutter up the xarray co

[2019-10-15 16:51] jbusecke commented on #144
Fair point. I would suggest to raise a similar issue over at xarray. Once that is integrated either xgcm or a new 'super-duper-vertical-transformation-package' resulting from the hackathon could use this (xarray will be a dependencie anyways).

[2019-10-18 03:47] #160 closed

[2019-10-21 19:41] jbusecke opened #165 "Problem with scalar dimension on metrics"
I am starting to integrate the xgcm metric aware functionality into my regular workflow and noticed a problem.

I am reconstructing the vertical thickness from an ocean model in z* coordinates, using the sea surface height and assign it as a coordinate. The u velocity array looks like this:
[code]

I can now easily integrate over depth with `grid.integrate(ds.u, 'Z)` and it works like a charm.

No

[2019-10-22 14:50] jbusecke commented on #102
Closed via #162

[2019-10-22 14:50] #102 closed

[2019-10-26 15:09] aaronspring opened #166 "fitting an MPIOM curvilinear grid"
Has anyone worked with MPIOM/MPIESM ocean in `xgcm`?

I started to play around with `xgcm` based on the tutorial. I have a large `fx` file which has a bunch of variables describing the distance between different parameters of a grid box and a `ds` with a few variables which are saved on different grids `'x','y'` for T and S,  and for instance `'x_2','y_2'` for u-velocities which is just slightly s

[2019-10-28 20:24] jbusecke commented on #166
Moin! Thanks for using xgcm!

Since this output already seems to have staggered output dimensions, `generate_grid_ds` should not be needed (this is only used to generate staggered dimensions form e.g. gridded observations).

I am slightly unsure how the output is arranged. It seems you have 4? logical indicies for each x and y direction? I am unfamiliar with the MPIOM grid, but I assume it will be

[2019-10-29 15:51] aaronspring commented on #166
MPIOM is on an Arakawa C grid. The tracers sit on the grid in the midpoint of the box. The velocities sit on the sides of this box and therefore there are x_2, x_3, x_4. I guess our output is structured in a different conceptual framework. I will try the renaming which seems to align the output with the assumptions in `xgcm`.

[code]

[2019-10-29 16:17] rabernat commented on #150
Thanks @dcherian! I saw that in xarray-fantastic!

Would you be game to do a PR to remove the coordinate-dropping from xgcm? If so, should we require a minimum xarray version going forward to ensure good performance?

[2019-10-29 16:38] jbusecke commented on #150
Oh this would be very helpful for some of my current workflows!

I could help too (tomorrow) if @dcherian is too busy.

[2019-10-29 16:48] dcherian commented on #150
@jbusecke Go for it!

It'll require some testing to be sure that it's an improvement across the board. For example, there is still an indexing bug (https://github.com/pydata/xarray/issues/2227#issuecomment-533193480) that leads to unnecessary alignments but the unnecessary computes issue is definitely fixed (https://github.com/pydata/xarray/issues/3454)

Absolutely. It would be painful otherwise.

[2019-10-31 17:18] aaronspring commented on #166
thank you both for the explanation. It starts to work out for me now. Maybe I can provide some examples based on MPIOM output sometime.
The package is great. Just realizing all the nice possibilities slowly.

[2019-11-01 13:15] jbusecke commented on #166
Examples would be fantastic. Please let us know if you get this working or hit another snag! We are committed to make xgcm work with many model setups.

[2019-11-02 20:55] aaronspring commented on #166
Please find my example for `MPIOM` here: https://github.com/aaronspring/pymistral/blob/master/notebooks/xgcm_MPIESM.ipynb. I basically reworked the existing examples from the documentation.

Used @rabernat renaming.
I am still unsure about why I cannot find a cell thickness at the psi point. Also my divergence looks different than in the MITgcm case.

Thanks for the help. I will definitely use thi

[2019-12-03 17:29] jk3652 opened #167 "LLCMapper: overwrites passed axes"
if ax is None:
            fig, ax = plt.subplots(figsize=(12, 6))

field = pyresample.kd_tree.resample_nearest(self.orig_grid, da.values,
                                                    self.new_grid,
                                                    radius_of_influence=100000,
                                                    fill_value=None)

vmax = plt_kwargs.pop('vmax', field.max())
v

[2019-12-03 21:29] jbusecke commented on #167
Hi @jk3652, thanks for using xgcm. Could you describe a bit more what you are trying to achieve with this code? It seems that your code is related to plotting issues, which might not be directly related to xgcm.

Cheers

[2019-12-03 21:36] rabernat commented on #167
I believe this comment refers to the ECCOv4 example from the documentation:
https://xgcm.readthedocs.io/en/latest/example_eccov4.html

It's a bug in the plotting code. Not part of xgcm, but still our problem, since it's in our docs.

[2019-12-10 21:44] andersy005 opened #168 "Next release?"
Is there a timeline on when the next "stable" version of xgcm will be available? it's been a while since the last release.

[2019-12-10 22:00] rabernat commented on #168
It would be great to have a release soon. I've been swamped this semester so have not taken it on myself. If one of the other contributors wanted to organize a release, I would be 100% 👍 .

[2019-12-11 15:27] jbusecke commented on #168
I was super swamped until now, but would be happy to drive this forward. Is there a tutorial on which steps are involved? Still very unfamiliar with the whole process but eager to learn.

[2019-12-11 17:17] andersy005 commented on #168
@jbusecke, here are the steps that I would do for PyPI.

0. Update `~/.pypirc` with your PyPI credentials

[code]

1.  Tag a release and push to github

        git tag -a 1.0.0 -m "Version 1.0.0"
        git push origin master --tags

2.  Build and publish release on PyPI

[code]

[2019-12-12 04:25] jbusecke commented on #168
Thank you very much @andersy005, Ill try to get to it tomorrow. Is is kosher to save username and password unencrypted like that?

[2019-12-12 15:22] andersy005 commented on #168
You are welcome!

There's a much safer way, **using an API token**:

- Head over to https://pypi.org/manage/account/ to create an API token
- Here's the documentation on how to update the `~/.pypirc` file to use the API token: https://pypi.org/help/#apitoken
- Remember to set the permission of `~/.pypirc` with  `chmod 600 ~/.pypirc`

[2019-12-12 15:36] jbusecke commented on #168
Awesome, thanks. Will hopefully get to it tomorrow.

[2019-12-19 23:40] nbren12 opened #169 "Interpolating from D-grid to C-grid"
Hi @rabernat. I'm loving this package, btw.

We are using it to handle cubedsphere data from FV3, which uses a D-grid staggering. Unlike C-grid, D-grid staggering has x-wind located on the y-face, which is useful for computing vorticity. However, to advect scalars one typically interpolates this data to C-grid. It is simple to interpolate the D-grid winds to cell-centers, but `interpolate_2d_grid`

[2020-01-27 19:45] rabernat commented on #168
What is up with this? Are we going to do a release or not? Anything needed from me?

[2020-01-29 05:02] rabernat commented on #169
Hi @nbren12 - thanks for the issue and sorry for the slow reply.

This is a known issue, which I started working on in #117. Since then I have thought about some better ways to do it, but have not had time.

Bottom line, yes, it should be supported, but is a kind of nasty edge case that no one has stepped up to solve yet. Hopefully once we hire some people for our Moore foundation grant, we can fi

[2020-01-29 14:30] jbusecke commented on #168
Hey @rabernat and @andersy005, sorry for dropping the ball on this. I was pretty swamped over here.

@andersy005, if I understand your changes correctly (and I might very well miss something here), we only need to trigger a release on github (v.0.3.0, I assume) and then the release on pypi will be triggered? Do we need to do anything after that for conda? Or is this based on the pypi release?

I a

[2020-01-29 14:33] rabernat commented on #168
I have added the pypi secrets, so I think it should work.

One question I have is whether it's worth trying to resolve the open PRs before a 0.3.0 release.

[2020-01-29 14:42] jbusecke commented on #168
I thought the same thing, but I have to admit that I probably will need some time for the ones I am involved in (e.g. #159). I am also very unsure about *when* it is appropriate to release, and which version to bump for certain features.
I think the major upgrade so far was the handling of grid metrics, warranting the 0.3.x. Perhaps we should release 0.3.0 and then have a todo list for the next re

[2020-01-29 18:26] jbusecke commented on #168
Depending on reviews on #159, we might be able to turn that around quickly, and we could include it in 0.3.0, which would be nice. Also we should probably start a `whats-new` in the docs at some point?

[2020-01-31 18:46] rcaneill commented on #142
Hello,
I am now using xgcm with NEMO for 6 months, and I am planning to write some doc about it in the next montha.
What should be the format? I have never properly done this before. My idea was to follow the MITgcm example on the doc ([https://github.com/xgcm/xgcm/blob/master/doc/example_mitgcm.ipynb](https://github.com/xgcm/xgcm/blob/master/doc/example_mitgcm.ipynb)), but using a NEMO output.
Sp

[2020-01-31 19:10] rabernat commented on #142
Hi @rcaneill - thanks for the interest. We would love to have your contribution on using xgcm with NEMO!

Yes, please prepare your example as a jupyter notebook, similar to the mitgcm example.

Yes, fork, create new branch, commit your changes, push to your fork, and then create a pull request. You may wish to try building the docs locally as you develop your notebook. To do this, you will need to

[2020-01-31 19:11] jbusecke commented on #142
Hi @rcaneill, thanks for using xgcm. NEMO docs would be phenomenal!

Are there NEMO datasets in the cloud? I think that would be the easiest, since we dont want to bloat the repo with large example datasets.

Reproducing the mitgcm examples would be nice, but feel free to substitute any other example you might have in mind. Regarding the organization, I recommend taking a look at the [contributor

[2020-01-31 19:17] rabernat commented on #168
Let's move ahead with the release without #159. There are still some issues there.

[2020-01-31 19:23] jbusecke commented on #168
Should we add a `whats-new.rst`? That would be a quick PR (I can do that right now), and then we can keep track of changes?

[2020-01-31 19:45] jbusecke commented on #168
Just added a PR with those changes in #172. Ill go ahead and start a release draft.

[2020-02-01 08:28] rcaneill commented on #142
Thank you for you rapid answers! This is very motivating!

@jbusecke I don't know yet if NEMO datasets are available on the cloud, I will ask around and search!

[2020-02-02 17:00] miniufo opened #173 "Metrics template"
Hi @rabernat . It is a great package.  I've used xgcm + xmitgcm to do a lot model diagnoses.

Everything works fine with MITgcm output data.  However, when I try to do some grid-aware reduction using NCEP (atmospheric) nc data (i.e., selecting a contour and calculate the area inside it), the API told me that I had to provide the keyward arg metrics.  A simple example would be:

[code]

I think the

[2020-02-03 13:20] jbusecke commented on #173
Hi @miniufo, thanks for using xgcm. We do habe some functionality to infer staggered grid info from regular lat lon or depth grids [here](https://xgcm.readthedocs.io/en/latest/autogenerate_examples.html). Let me know if that works for your purpose.

[2020-02-03 14:06] jbusecke commented on #168
I already drafted a release. Should I pull the trigger? Or do we have anything still pending?

[2020-02-03 14:36] rabernat commented on #168
Go for it Julius!

[2020-02-05 06:56] miniufo commented on #173
Hi @jbusecke , thank you for pointing me to the autogenerate module.  It is exactly what I was looking for.  It works fine in my case and I've wrapped the second case into a function:
[code]

so that if someone need to add metrics to their dataset, just call the function like:
[code]
and the code will try to guess the lat/lon information inside the `Dataset` and arrange them into `metrics` for a `

[2020-02-05 18:28] jbusecke commented on #173
Awesome. Glad that it helped. As a user do you think it would have been helpful to have a pointer to this functionality in the metric docs? We could add a reference.

Also can we close this issue?

[2020-02-06 09:46] miniufo commented on #173
Of course it would be helpful to have a pointer in the metric docs (maybe you could put the `Generate missing C-grid coordinates` to a subsection of `Grid metrics`).  This makes the `grid.integrate(a, ['X', 'Y'])` more closely to the mathmatical expression $\iint a\,{\rm d}X{\rm d}Y$.  It's great!

[2020-02-06 09:46] #173 closed

[2020-02-10 19:55] #168 closed

[2020-02-10 22:18] asiddi24 commented on #146
Were you able to solve the ValueError @cpatrizio88 ? I'm getting a similar error when I try and make the grid.

[2020-02-11 02:17] rabernat commented on #146
I'd love to help resolve this. The `T` axis is time. I'm a bit surprised by this error. Could someone share a more complete reproducible example, including printouts of the datasets in questions (`print(ds)`)?

[2020-02-11 20:15] asiddi24 commented on #146
It is working now. My implementation seemed to be faulty. Having tried it again,

`new_ds = llcreader.llcmodel.faces_dataset_to_latlon(ds)
`

which gives me this dataset (`print(new_ds)`)

[code]

And then,

[code]

Not sure though, what had been @cpatrizio88 's problem.

[2020-02-14 17:06] rcaneill commented on #142
I work on the NEMO example slowly but surely!

For the moment I am writing the example in an idealized configuration. I uploaded some dataset in a draft website for the moment, and I download it from the notebook, is it a good practice? Is there another way to do? Here is the link to the notebook (in the cell In [2]:) [https://github.com/rcaneill/xgcm/blob/master/doc/example_nemo_idealized.ipynb](

[2020-02-14 17:14] rabernat commented on #142
This example looks great! It's absolutely fine to download data if the dataset is small (as yours is).

However, we should probably put the data in a permanent repository, like https://zenodo.org/, rather than your personal website (which could disappear, go down, etc.).

[2020-02-15 19:28] jbusecke commented on #100
Already resolved. Closing

[2020-02-15 19:28] #100 closed

[2020-02-15 19:53] rabernat commented on #161
I have updated the webhook for RTD to include the PR event. Once we verify it's working, we can close this issue.

[2020-02-15 20:04] rabernat commented on #113
@TomNicholas - I'd like to close or resolve this issue, which has been open for a long time.

Do you have an example of using xgcm with plasma physics data? If so, would you be willing to contribute and example to the docs?

[2020-02-15 20:07] rabernat commented on #108
I am going through old issues and trying to close as many as possible.

I think this needs to stay open, because we have not resolved how to handle this particular choice of dimension name conventions within xgcm. We do, however, have a good workaround involving renaming dimensions.

@vrx- would you be willing to contribute an example of working with ROMS data to the xgcm docs?

[2020-02-15 20:08] rabernat commented on #115
Doing some much-needed cleanup on xgcm issues.

@shoyer - do you have an example dataset that we could use to demonstrate the capability of xgcm to work with electromagnetic simulations? (see also #113)

[2020-02-15 20:58] #147 closed

[2020-02-15 21:01] shoyer commented on #115
Feel free to close. I'm pretty this is possible but I don't have an actual
use case right now (I'm not currently working on E&M problems).

On Sat, Feb 15, 2020 at 12:08 PM Ryan Abernathey <notifications@github.com>
wrote:

[2020-02-15 21:15] #115 closed

[2020-02-16 12:58] TomNicholas commented on #113
No - we may do in the future, but not at the moment.

BOUT++ solves on logically rectangular grid, but to simulate complex topologies that grid is broken up into regions of differing sizes. These can't be stacked along a `face` dimension, so xgcm would need to be able to describe the connections between different xarray objects of different sizes. Then we could maybe wrap all the different sub-reg

[2020-02-16 12:58] #113 closed

[2020-02-16 15:01] rabernat commented on #113
Just out of curiosity, how do you deal with these ragged arrays in xarray?

[2020-02-16 15:13] TomNicholas commented on #113
Well we don't, because the overall dataset isn't ragged - it's a single rectangular array which is then split up into differently-sized chunks (see the top of the first diagram in my last comment). So we can use xarray directly for the whole thing. The only time we should be taking into account the ragged nature is for plotting all the different regions together (which you can see we did [as a pat

[2020-02-16 15:17] rabernat commented on #113
Gotcha. This is actually very similar to how MITgcm LLC grids work: https://xmitgcm.readthedocs.io/en/latest/performance.html

So it would be quite cool to eventually support this sort of thing in xgcm.

[2020-02-18 14:51] rcaneill commented on #142
Excellent! I'll create a permanent repository when the doc will be finished, so I m sure that the data fit exactly the needs.

[2020-02-19 05:07] jbusecke commented on #161
I think this is working pretty well. Will write a nice email to the RTD team and close this

[2020-02-19 05:07] #161 closed

[2020-02-24 09:48] wingtorres commented on #108
Is there a reason one cannot just use the Ψ-point indices for the inner axes in xgcm? It seems to me that the only non-redundant horizontal dimensions are : xi_rho (outer), eta_rho (outer), xi_psi (inner), eta_psi (inner). The following code works for my application - the vertical relative vorticity calculation matches ROMS' output to single precision.

[code]
Interpolate grid metrics to staggered

[2020-02-24 15:28] vrx- commented on #108
Sure. Sorry, OSM had me swamped last week. I'll prettify some code I have and push it today or tomorrow.

@wingtorres In ROMS psi points are 'outer', rho points are 'center' and u and v points are 'inner', so replacing the points with {'eta_u':'eta_rho', 'xi_v':'xi_rho'} is more accurate.

By doing that, there is no need for the indexing, so you can just:

[code]

[2020-02-25 04:30] wingtorres commented on #108
Hi @vrx-  thank you for the clarification and code! That definitely makes more sense w/ the Arakawa C-grid.

[2020-02-25 19:24] jbusecke commented on #108
The `dvdx` and `dvdy` can possibly be calculated even more elegantly with the new [Metrics](https://xgcm.readthedocs.io/en/latest/grid_metrics.html) feature. Just FYI.

Very excited for a ROMS example!

[2020-02-25 20:07] jbusecke commented on #144
Just looking through some older issues and found this. I recently started developing some code to make regridding (finding a new depth grid, possibly defined on tracer surface in space and time) and remapping (converting data like tracer concentrations, velocities, etc from old to new depth grid) [here](https://github.com/jbusecke/xarrayutils/blob/master/doc/vertical_coords.ipynb).

This uses a bi

[2020-02-25 21:39] vrx- commented on #108
@jbusecke That's cool, I wasn't aware of that feature. However, this will take me a moment to figure out because the ROMS grid metrics are totally different from the MITgcm metrics. Face areas are calculated from distances located at the center points, not at the edges, so I think it will create an indexing problem again. Even more in the u an v faces. I can upload the notebook as is now (see [her

[2020-02-25 22:27] jbusecke commented on #108
First of all, that looks amazing! 🎆

As far as I can tell these look like the metrics from mitgcm, but the output is missing the 'other' metrics on u and v and psi points (does ROMS not put them out by default?). You could interpolate them as you do now, and recreate the grid object with the interpolated metrics, but I am not sure that is useful in this context...

I would say we get this nice not

[2020-02-25 23:32] vrx- commented on #108
ROMS people usually talk in xi and eta, but I guess it is intuitive switching to X and Y and not the other way around. It's just a habit for me so I can definitely change that. The only metrics that ROMS outputs is pm and pn at the rho points. It is convenient so that there is no need for division and operations run faster.  If I understand correctly 1/pm would be dxF (not dxG) and 1/pm_psi would

[2020-02-27 23:03] raphaeldussin opened #182 "grid.average with MOM6"
it works but there is a pitfall, see https://mom6-analysiscookbook.readthedocs.io/en/latest/03_spatial_operations.html#Using-xgcm

I wonder if raising a warning if the number of points summed in the numerator and denominator differ would be a good idea. Or add the option for an optional land/sea mask.

@rabernat  @jbusecke what do you think?

also I have some very basic examples of using xgcm with

[2020-02-27 23:24] rabernat commented on #182
I think the points you raise are very useful and also quite general. Many models (like POP) have similar issues with inconsistent masking of grid variables. This might also be an issue in MIT: the data variables (e.g. `THETA`) are just 0 in the land, and the weights (e.g. `rA`) are defined everywhere. So a naive weighted mean could also give the wrong answer.

There are a couple of paths forward I

[2020-02-28 12:56] jbusecke commented on #182
I noticed this too in some of my work. I hoped that we could take care of this upstream in [xarray](https://github.com/pydata/xarray/pull/2922), but it seems that might have stalled...

I did wright some logic to do weighted averages [here](https://github.com/jbusecke/xarrayutils/blob/003e4f8a12aefc09714f7ecc184ac3c70956dc3c/xarrayutils/weighted_operations.py#L108), which we could modify. This wil

[2020-02-28 14:34] rabernat commented on #182
What we need is a clear template and structure within the docs to accept these examples.

What do we think about my idea of adding masks to xgcm's data model.

[2020-02-28 14:55] jbusecke commented on #182
+1 on the templates! Should we have a gallery of various models all doing the same thing? I think that would be very helpful to get ppl started. We can add other, more advanced examples based on any of the models.

I think the masks are a great idea, but I am worried it adds a lot of complications to the use cases, but it seems like a very general implementation, so lets do it.

How about this: We

[2020-02-28 15:05] rabernat commented on #182
Exactly. We should define the same basic N tasks, and then show how to do each of them in different models. We could store this in a subdirectory, i.e. `docs/examples`, along with a template for new examples.

@jbusecke - do you have bandwidth to take this on?

[2020-02-28 15:08] jbusecke commented on #182
Not at the moment I am afraid (Big seminar coming up on Mon). Could you ping me next week by any chance? I might be able to do it then.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-28 17:49] vrx- commented on #108
After messing with it some, it works, but I think it's a bit cumbersome, and I'm not sure if there is any advantage in using the metrics feature instead of just the diffs and dividing.
Because ROMs doesn't output any of the metrics you need to create a grid first to create the metrics, and then recreate the grid with the metrics. I don't know if there is a smarter way of doing this? also, I guess

[2020-02-28 17:55] jbusecke commented on #108
I like this a lot.

This becomes particularly helpful when doing more than one operation by frontloading the setup. Then you can have very lean code, that can be used to work with many different models (since you do not need to explicitly divide by a certain variable name).

We were talking about having a template for different models in #182. This would have a 'model specific ' cell to create the

[2020-02-28 18:25] vrx- commented on #108
Yes, sure, happy to wait for the template. I haven't tested the grid average thing with the metrics that is discussed in #182, but I would guess it will create the same problem. The solution seems easy by adding ROMS masks to the metrics, and having a template seems the easiest way for comparison.

[2020-02-28 18:42] jbusecke commented on #108
Cool Ill be in touch once I get the example up (hopefully mid next week).

[2020-03-04 23:05] DapengLi17 opened #183 "questions on pangeo-ocean-examples/NCAR CESM High Resolution Ocean Simulation"
Hi All:
      I am analyzing the CESM POP high resolution simulation using xgcm. I followed the example page (https://github.com/pangeo-data/pangeo-ocean-examples/blob/master/cesm-pop-highres-ocean.ipynb) and met the following error. When I run

zeta = ( grid.diff(grid.interp(ds_raw.V1_1 * ds_coords.DYU, 'Y', boundary='extend'), 'X')
       - grid.diff(grid.interp(ds_raw.U1_1 * ds_coords.DXU, 'X')

[2020-03-05 02:30] rabernat commented on #183
Hi @DapengLi17. Thanks for asking your question in a public forum where others can learn from the discussion.

Unfortunately, I cannot reproduce your problem. I just tried that notebook on binder, and everything worked fine. You can verify this for yourself by following this link:

[![Binder](https://binder.pangeo.io/badge_logo.svg)](https://binder.pangeo.io/v2/gh/pangeo-data/pangeo-ocean-examples

[2020-03-05 18:00] DapengLi17 commented on #183
Hi @rabernat
Thanks so much for your reply. Sincerely appreciate your time and work. I tried your notebook on binder and it worked fine. The problem I mentioned early occur when I analyze our CESM POP high resolution simulation. I think the problem is because 'DXU' and 'DYU' are outputted as 'Coordinates' in your notebook on binder while they are outputted as 'Data variables' in our POP simulation

[2020-03-05 18:09] rabernat commented on #183
Sounds correct to me!

I'm going to close this, since it's not really a bug with xgcm, but rather a question about how the data from your particular model run are formatted.

[2020-03-05 18:09] #183 closed

[2020-03-05 18:13] DapengLi17 commented on #183
Hi @rabernat
    Thanks for your confirmation. Sincerely appreciate your kind help!
Regards!
Dapeng Li

[2020-03-10 16:31] miniufo opened #185 "higher-order derivatives"
I was wondering is it possible to calculate higher-order derivatives using the current functionality of xgcm?  I guess the calculation of the harmonic diffusion of a tracer q ($\nabla^2 q$) would be:

[code]
Since calling derivative once will shift the result to the left of the tracer cell, I'm not so sure the result by calling twice is properly aligned back to the tracer point.

I'm also curious

[2020-03-10 21:11] jbusecke commented on #185
Hi @miniufo miniufo, thanks for using xgcm.

I think this should work, and as you have written it here, the second derivative should again end up on the tracer point. Do you have some data to compare the results to? That would be a great way to verify the results.

We do have the functionality to pass multiple axes. I am wondering if your use case would be satisfied by `grid.derivative(q, ['X','X'

[2020-03-11 15:04] apatlpo commented on #150
hi all, what's the status on this?
Is any help needed?

[2020-03-11 15:11] jbusecke commented on #150
Hi @apatlpo, if you have bandwidth to submit a PR, that would be much appreciated.
I am very busy these last days. I would be happy to give pointers and feedback.

My preference would be an additional keyword (e.g. `grid.diff(keep_coords=True)`, which is off by default to avoid breaking old code). What do you think @rabernat?

[2020-03-11 17:04] miniufo commented on #185
Hi @jbusecke , I've updated xgcm to 0.3 and then tried your ways.  However, errors are raised.

For nested call of derivative as:
[code]
it reports:

I guess this is related to the metrics keyword arg.  I use standard MITgcm outputs and I've already pass in the metrics as:
[code]

For the multiple axes you suggested `grid.derivative(T, ['X', 'X'])`, it reports:

I guess the multiple axes passed in

[2020-03-11 17:55] jbusecke commented on #185
Thanks for these clarifications.

To further dig into what is going on here:
[code]
could you paste the output of the full dataset and try to split the two operations into seperate call, with printing the intermediate output? It seems that you dont have the grid metrics available at the right location.

Hmm this is a deeper issue to think about. This syntax works for (diff, interp, etc..), because

[2020-03-11 18:00] apatlpo commented on #150
Sure, I can give it a shot.

[2020-03-12 03:27] miniufo commented on #185
Hi @jbusecke  Thanks for your quick reply.

1. For multiple axes way, I would suggest an intuitive API by adding a kwarg `order` like:
[code]
rather than
[code]

2. For the error raised in nested call, my code is simple:
[code]
The error is raised at the last line as:

So these things are printed for debugging:
[code]

Hope these are enough.

[2020-03-12 13:00] jbusecke commented on #185
Great. Thanks for providing those. So If I am seeing this right, you have two dy (y-distance) metrics [`dyC` and `dyG`], both located at the u and v points of the grid (north and east face).

Your first operation will internally 'diff' the variable `T`, taking the difference between two tracer points. The metric associated with that operation is located on the cell face, here on the `v` point `('X

[2020-03-13 08:24] miniufo commented on #185
@jbusecke Thanks for your detailed explanation.

This is an important note for me.

-----
Now I get the results for these codes:
[code]
The reference 2nd-order derivative `derivY2_ref` is identical to the nested/recursive solution `derivY2_nes`, except at the boundaries.  I am happy with this result and the Laplacian diffusion term could be calculated using nested/recursive call.

---
I've been de

[2020-03-13 16:03] jbusecke commented on #185
Glad it is working now. And happy that you seem motivated to continue using xgcm 🎉

This is **precisely** the idea behind xgcm. Simplify very general finite distance/volume operators and let users build on top of that!

So first I have to apologize I somehow thought of a 'central' vs 'forward/backward' finite differencing scheme as 'order'. That is false.

You are right that roughly speaking the n

[2020-03-14 03:32] miniufo commented on #185
I think I have learned something.  My experiences are limited, so I did not take into account the case of non-uniform grids.  Actucally, I always regrid non-uniform data onto uniform grids before any further diagnosing.

I like the idea of including 'sub-metrics'.  Maybe we need more expert modellers to get involved and make xgcm more general.  Hope that I become more familiar with MOM sometimes l

[2020-03-17 00:03] jbusecke commented on #185
If you have the raw metric output, you dont have to do that anymore. xgcm will enable you to work with complex grids just like with a uniform grid.

This will be a substantial amount of work, so it might not happen soon, but I think it would be a cool addition.

Oh yes I would be very curious.

This was also great for me. Yes please keep raising issues if something is unclear or you wish to have o

[2020-03-17 14:43] miniufo commented on #185
Yes we can close this now.  Thanks again @jbusecke .

FYI: [calculating effective diffusivity using xgcm](https://github.com/miniufo/GeoApps/blob/master/notebooks/Contour%20analysis%20and%20effective%20diffusivity.ipynb)

[2020-03-17 14:43] #185 closed

[2020-03-17 23:58] dcherian commented on #157
THis can be closed?

[2020-03-18 00:47] jbusecke commented on #157
Yes. Closed via #159

[2020-03-18 00:47] #157 closed

[2020-03-18 18:10] dcherian opened #187 "div & curl"
I've been experimenting with general curl and horizontal divergence functions using the awesome new metrics functionality (awesome!).

Here's what I have. It works with both POP and MITgcm. I am thinking that we could have
[code]
The function names can be improved upon.

A bigger issue is the need to do slightly different things for a B-grid vs a C-grid.
1. For now I am manually assigning a new at

[2020-03-18 22:33] jbusecke commented on #187
Sweet! This looks like a very nice start.

I have been dabbling with this a while ago (before the metrics were integrated though) [here](https://github.com/jbusecke/xarrayutils/blob/master/xarrayutils/xgcm_utils.py). I wrote some logic to detect the grid type in `_infer_gridtype`, that could be used to make this less 'input heavy'. Id be happy to retire most of this module in favor of a general xg

[2020-03-20 22:05] jbusecke commented on #150
@dcherian which version should we be requiring for this? Is `0.14` sufficient? Or do we need `0.15`?

[2020-03-20 22:21] dcherian commented on #150
`0.14.1`

[2020-03-23 09:49] miniufo commented on #187
It is interesting.  I was doing something similar too.  I think I would add more functions like:
[code]

The top API should be like these (love to add more to this list).  Is it necessary to take into account the Arakawa A-grid?  There are lot of reanalysis data defined on A grid.  Beside, I'm not sure whether these functionalities should be part of xgcm, or something on top of it.

[2020-03-24 02:04] jbusecke opened #189 "Refactor the `metric_weighted` logic"
After a great conversation with @dcherian and @ALDepp today I am convinced that the `metric_weighted` functions is a) useful for #187 (with a few modifications) and b) very confusingly named.

I propose to refactor this functionality in the following way:
1. Separate the multiplication (weighting) and division (unweighting) steps and allow for different metrics to be used in each step.
2. Rename `

[2020-03-24 02:07] jbusecke commented on #164
@dcherian @ALDepp thoughts on this?

[2020-03-24 02:10] jbusecke opened #190 "Improving the metric docs"
I noticed today that we do not properly document the ability of xgcm to 'construct' higher level metrics from available lower level metrics (e.g. cell volume from area and vertical distance). We should highlight that in the docs.

[2020-03-24 08:02] miniufo commented on #187
Glad to contribute to the gallery.  I do have some meteorological reanalysis data from [NCEP](https://www.esrl.noaa.gov/psd/data/reanalysis/reanalysis.shtml), [ERA](https://www.ecmwf.int/en/forecasts/datasets/reanalysis-datasets/era5) and [JRA](https://jra.kishou.go.jp/JRA-55/index_en.html), all of which are on the A-grid.  I'm not sure how to setup a opendap server but I could upload a subset of

[2020-03-24 08:27] miniufo opened #191 "vertical integration to the free surface"
Recently I want to perform an integration of velocity from the bottom to the free surface to get the barotropic velocity.  I've read [the document here](https://xgcm.readthedocs.io/en/latest/grid_metrics.html#Grid-aware-integration) that gives an example on how to use `xgcm.integrate` to do this.  Notice that the example integrates to `z=0` (the top level), not to free surface.

I think the water

[2020-03-24 13:50] jbusecke commented on #191
That heavily depends on which vertical coordinate system is used.
I am not sure what the example uses but if it is a z (not z*) coordinate system, then you are right in adding the surface elevation.

I personally have dealt with a lot of z* model output (MOM5) and there you have to infer the vertical cell depth as a function of (x,y,z,t) using something like [this](https://github.com/jbusecke/mom_

[2020-03-24 14:56] jbusecke commented on #187
Awesome @miniufo. I think it would be great to have some atmospheric data in this ocean dominated group of maintainers 😁 . Ill be in touch when the example notebook is done (hopefully towards the end of the week.

[2020-03-28 05:27] miniufo commented on #191
Thanks @jbusecke.  My data are on a z coordinate so I'll just add the surface elevation to get the right dz.

I happen to have a dataset from CM2.1 in which the coordinates are `['st_ocean', 'yt_ocean', 'xt_ocean']` (just the dataset no model info).  Is there any simple way to justify what kind of z-coordinate (z or z*) the data are defined on?  Could it be z* if the metrics are time varying?  If

[2020-04-03 02:00] miniufo opened #193 "apply Grid.average to subset of data"
I constructed a Grid object from a lat/lon Dataset `dset`.  When I tried the following codes, I found a huge difference that is totally unexpected:
[code]
The outputs are:
[code]

I know that these two ways of mean will yield slightly different results but here the difference is quite large.  So I would ask:
1. If the DataArray passed in is only a subset (subregion) of the full domain (as in this

[2020-04-03 13:43] raphaeldussin commented on #193
my bet is on bottom land points taken into account in the denominator

[2020-04-03 17:29] jbusecke commented on #193
Nope. It will blindly broadcast the array to the metric and thus count metric points where there is no data. You have to create a new grid object for that.

I was aware of this being a bit of an annoyance, but wanted to see if we can use the functionality in [xarrays `weighted`](https://xarray.pydata.org/en/v0.15.1/computation.html#weighted-array-reductions) to improve this behavior. Ill have to l

[2020-04-03 17:31] dcherian commented on #193
I think you mean "align"? and can't we control this by setting `join="inner"` so that it will subset the metric to the data?

[2020-04-03 19:31] dcherian commented on #193
Ah I was wrong. Apologies. You shouldn't be able to create a grid from the "wrong subset" but all computations should work?

Why do we want to disable this workflow?

[2020-04-03 19:48] jbusecke commented on #193
Two things:
1) the two examples you showed should be perfectly fine. One would get an 'outer' attribute (`len(x_g) == len(x_c)+1`). The former is the 'standard' dataset in my opinion.

2) We would not deactivate the workflow, rather than thinking about if we allow it. As @miniufo showed, using a subset of the data with a grid object created on another dataset produces nonsense. I personally think

[2020-04-03 19:56] dcherian commented on #193
My questions is: Could this be fixed with `metric_vars = xr.align(array, *metric_vars, join="inner")[1:]` in `get_metric`? This will reindex all metric variables to the `array`.

Since `array` is a subset of the grid; there are well defined metric values at all subset-points. So the calculation still works?

[2020-04-03 20:09] jbusecke commented on #193
Ok I see. I will have to think about that, and would also like to hear what @rabernat thinks about this. @miniufo does the workaround above work for your purposes in the meantime?

[2020-04-03 20:45] dcherian commented on #193
`join="left"` might be most appropriate actually. This will use the indexes of `array` to reindex the metric variables.

[2020-04-04 11:55] miniufo commented on #193
Ops, I didn't realize that the root of the problem is the automatic alignment of `xarray`.  This is a magic part of `xarray` but I think this is a case I would perfer to have it switched off.

I tried the `grid_sub` way and it works fine except that when the field contains all nans, the returned average value is zero.  Is this a bug in xgcm?

Since what I've done here is very common in climate res

[2020-04-05 12:53] navidcy opened #194 "does xgcm handle models with a tri-polar?"

[2020-04-05 20:00] jbusecke commented on #194
Hi @navidcy, thanks for using xgcm. Short answer: Yes. I have worked with several models with xgcm sucessfully.

Do you have a concrete problem or example that you are concerned about?

[2020-04-05 20:52] jbusecke commented on #193
Awesome that you want to get involved @miniufo!

But I think we need to unpack these problems a bit more and address these as the smallest possible units:

There are several issues we are encountering in your example:

1) xgcm as of now, requires metrics to match datasets in terms of missing values! If you pass a metric that has a value, where the data doesnt, results will come out wrong. This sho

[2020-04-06 03:46] miniufo commented on #193
Now I understand better with the problem and possible solutions.

So @dcherian 's suggestion to align metrics to a subset of data would also fail to give the right answer if the sub-metrics do not match the sub-data in terms of missing values, right?

Yes I would like to if I understand it completely (do need your guidance).  But I don't really get the internals of `xarray.weighted`.  What is the

[2020-04-06 04:45] miniufo commented on #164
First of all, **interpret** in the title should be **interpolate** missing metrics?

Up to now, I think I've encountered this problem many times and the error prompt is not clear enough for me to reach a solution.   Here is one example #185, and another is when I tried to perform vertical derivative along `Z` using standard MITgcm outputs (simulated in x-z plane) as `grid.derivative(var, 'Z', boun

[2020-04-06 07:02] navidcy commented on #142
hi, I was trying to use `xgcm` in MOM5 for computing [relative vorticity](https://github.com/COSIMA/cosima-recipes/issues/13). I'd be happy to contribute an example for the docs when I finally figure it out :)

I do have an xarray dataset with my grid and I add the properties
[code]

For start I thought I'd do an x-y grid to be used in surface quantities.

1) First of all, will `c_grid_axis_shift`

[2020-04-06 13:56] dcherian commented on #142
Answer to 1. is yes. For POP see https://github.com/NCAR/pop-tools/blob/1f484deb9372f5dd51372ace167ad8af3e297577/pop_tools/xgcm_util.py#L11-L32

Hmm.. I got it to work with POP's B-grid using the same metric definition as yours in https://github.com/xgcm/xgcm/issues/187 (see also https://pop-tools.readthedocs.io/en/latest/examples/pop_div_curl_xr_xgcm_metrics_compare.html)

[2020-04-06 14:06] jbusecke commented on #164
Me too, thats why I like xgcm so much haha.

But jokes aside, I think you are absolutely right with your concern. I think a default option to interpolate metrics makes sense, **BUT** you actually make a good point: The user needs to understand the grid of their model!
This step will not dissapear with any defaults, and I think we are not aiming for xgcm to make it a package that allows the user to

[2020-04-06 14:11] jbusecke commented on #193
I believe this is true.

I am not sure about this either. I just read the examples and it takes into account mismatches between data and weights in terms of missing values. You (we) would have to dive into how xarray implements this, since you also want to 'unweight' the data correctly. I am quite busy over at [cmip6_preprocessing](https://github.com/jbusecke/cmip6_preprocessing) these days, but h

[2020-04-06 14:24] jbusecke commented on #142
@navidcy you are missing metrics at the grid face (e.g. situated at ('yu_ocean', 'xt_ocean'), this would be the north face of the tracer cell. You have a few options:
1) Find the missing metrics: I have extracted the grid metrics from raw mosaic files for CM2.6 [here](https://github.com/jbusecke/mom_xtools/blob/928f780d59570d96c629e12d87d08b366ffbb024/docs/CM-O_suite_static_grid_files.ipynb), perh

[2020-04-07 15:44] miniufo commented on #164
I have sensed the power of `xgcm`.  A lot of enthusiasms here and I'll make them count.  So no template?  I could also start from the example in the `doc` directory.  It may take a few days to write some notebooks on what I have right now.

[2020-04-08 13:35] dcherian opened #195 "boundary="periodic"?"
I keep finding it funny that xgcm has both `periodic` and `boundary` kwargs. Logically it seems like `periodic` should be replaced by `boundary="periodic"`?

[2020-04-08 13:41] rabernat commented on #195
This makes sense to me.

[2020-04-08 20:09] dcherian commented on #194
@jbusecke this came up in our Ocean section meeting call today. It'd be nice to see an example notebook analyzing output on a tripolar grid (I have never worked with these so I'm pretty confused on how to represent things in xgcm).

[2020-04-09 12:02] navidcy commented on #142
@jbusecke, I appreciate a lot your attempt to help me, but apparently it turns out I don't understand what you mean...

first, the `ds` that I use to create my grid must have all `xt_ocean`, `xu_ocean`, `yt_ocean`, `yu_ocean`, `st_ocean` and also all metrics as variables?

(perhaps we should move the discussion elsewhere since it ends up being me asking for help rather than an issue of xgcm?)

[2020-04-09 13:08] jbusecke commented on #142
@navidcy I think @rabernat is right in saying this should be easier to understand from the docs and thus it is very much an issue of xgcm.

I have been thinking about how to illustrate the process better and have some ideas, but I have been quite busy with my work project and generally do not experience peak productivity in these days, hence things are moving slowly on the development side.

I rea

[2020-04-09 13:18] jbusecke commented on #195
That’s a great idea, that would simplify the setup.

[2020-04-09 13:25] rabernat commented on #142
I would like to add the important point that the metrics are *entirely optional*.  They are a convenience layer to enable high-level operations like derivative, integral, grad, etc. They are a relatively new feature and are evidently lacking a bit in documentation and examples.

The core of xgcm is the *low level operators* `diff` and `interp`. I believe these are explained clearly in the docs on

[2020-04-09 13:57] jbusecke commented on #194
What does pop use?

Happy to make a n example with MOM5/6, but I just have to say that I am quite backed up with stuff rn.

In principal it doesn’t matter what kind of grid you have if it fits into one “logical” tile. The only time when things get more complicated is smth like a cubed sphere grid I think. But Ryan has that implemented in xgcm too.

[2020-04-09 14:09] raphaeldussin commented on #194
is the question related to the folding of the north boundary? Which would basically be a face connection of a face onto itself with direction change from one side of the pivot point to the other.
I don't think I've seen this option in the docs/code.

[2020-04-09 14:37] dcherian commented on #194
@raphaeldussin I came to that conclusion too. And yes I hadn't seen that option and so wanted to see what @jbusecke was doing

[2020-04-09 14:42] jbusecke commented on #194
Hmm maybe I have been thinking about this a bit to simplified (forgive me I stay as far away from the Arctic as possible hahaha).
So you are asking what happens when you want to do e.g. a y derivative across the 'seam'? That sounds like something that could be addressed with some of the cubed-sphere logic that @rabernat has built. I however know next to nothing about that part of the code, so perh

[2020-04-09 14:49] raphaeldussin commented on #194
that's exactly right, velocities reverse directions between the 2 parts of the fold. You need the information on the pivot point (index and point type). The most natural choice is to use a corner (f, q, psi,... depending on your convention) but there's configurations for which the pivot is on a V-point (ORCA05 if my memory is right). I think the face_connection logic can work if we build a virtual

[2020-04-09 15:35] rabernat commented on #194
These kinds of things are already done for the LLC grids, so should definitely be possible!

[2020-04-09 16:03] dcherian commented on #194
In my limited understanding, the `face_connections` logic will work. However, the output doesn't have an "faces" so to speak. So it will have to be a virtual face that xgcm keeps track of internally.

Maybe xgcm needs a `Seam` concept with kwargs `row, pivot_index, pivot_point_type`.

[2020-04-09 16:05] raphaeldussin commented on #194
I can give it a go, but cannot really commit to a timeline. One approach would be to create a function, say:

[code]

that returns a mirrored face and adds a face dimension. However since faces cannot have different horizontal dimensions, we would need to add a mirror image of the whole domain, right?
Which means that we'd carry the extra dim and potentially double the computation if we don't pay

[2020-04-09 16:10] dcherian commented on #194
Concatenation would be the easiest!

[2020-04-16 19:45] dcherian opened #199 "Make _assign_metrics public"
https://github.com/xgcm/xgcm/issues/108#issuecomment-592647947  suggests that `_assign_metrics` should be public.

That way you can use `grid.interp` and `grid.diff` to construct metrics when necessary and then just assign them to an existing object.

[2020-04-22 08:33] navidcy commented on #142
I put together [this](https://github.com/COSIMA/cosima-recipes/blob/3f145d1de7473730d9f5b3a51b42aa57c4616cc6/DocumentedExamples/RelativeVorticity.ipynb) for computing vorticity in MOM5. I've checked that the xgcm method,
[code]
 reproduces the `vorticity_z` diagnostic of MOM5.

I'd be grateful if you can help me include the metrics in the xgcm grid and thus simplify the expression even more to som

[2020-04-22 13:15] dcherian commented on #142
https://pop-tools.readthedocs.io/en/latest/examples/pop_div_curl_xr_xgcm_metrics_compare.html#xgcm-with-metrics

These variable names look like the POP variable names so it should be straightforward to translate this notebook. Basically you create a `metrics` dictionary and pass it to the `Grid` constructor.

[2020-04-22 13:23] navidcy commented on #142
Yeap... but when I try to follow these steps I got an error. See my post above: https://github.com/xgcm/xgcm/issues/142#issuecomment-609603002

[2020-04-26 20:12] jbusecke commented on #199
I think this is resonable. @rabernat, do you have thoughts?

[2020-04-26 20:22] jbusecke commented on #164
I think these are two different things. 1) The template to show how to work with several models (which I am shamefully overdue to create)
2) Additional text in the actual docs about the [metric feature](https://xgcm.readthedocs.io/en/latest/grid_metrics.html).
I imagined a little warning box that explains how the metrics are constructed (e.g. give all metrics containing an x distance with the key

[2020-04-27 16:47] miniufo commented on #164
I've sent a PR #196  that add a jupyter notebook on how to infer missing metrics in several cases, in the doc directory.  Please tell me if it can be improved in any way (not sure if you can preview it before merge.).

[2020-04-30 12:39] willirath opened #200 "Add .sel and .isel equivalent that returns all vars on all grids related to the indexers?"
I'm working on a project that aims at providing observation-like sampling for Ocean model data living on a C grid. What we aim at is keeping the C grid logic intact as long as possible. For this, something like
[code]
returning a full dataset restricted to `x_c=3`, `x_l=3`, x_r=3`, `y_c=5`, `y_l=5`, `y_r=5` and a corresponding `ds.xgcm.sel(...)` would be ideal.

A related question is: Which grid p

[2020-04-30 13:15] jbusecke commented on #200
I think this would be a really nice addition to xgcm. I have been looking for this functionality for a long time to subset large datasets. This could also be a partial solution to e.g. the issue @miniufo mentioned in #193.

I would propose that a call could look like this
[code]

By using the actual dimension (`x_c`) and a specifier (not sure if `to` is the most intuitive), the user has maximum fl

[2020-04-30 13:26] rabernat commented on #200
Good idea. this would work well in combination with #197 (xarray accessor). Then we could do

[code]

I slightly prefer @willirath's API over @jbusecke's. The whole point of this is to not have to worry about the different dimension names and be able to select on an axis.

[2020-04-30 13:33] jbusecke commented on #200
Fair point. Could we maybe add some more keyword to allow the flexibility if wanted? e.g. `from` could default to `center` but also be `left`/`right`?

This would be hidden for the casual use, but still make the use case, I described possible?

Would love to see this working with the accessor. What would the output of that call be? Just a dataset or both a new grid and ds?

[2020-04-30 14:44] dcherian commented on #200
This lines up with the cf xarray discussion: https://github.com/pangeo-data/pangeo/issues/771.

[2020-05-09 13:27] apatlpo opened #201 "halo points extension of DataArrays on tiled grids"
follows OceanParcels/parcels#548

Could xgcm be leveraged to generate expanded DataArrays that contain halo points from other faces (I am typically thinking about llc type grids)?
Or does it go against the library philosophy?

This would be useful to distribute custom calculations over such grids.

[2020-05-10 20:31] jbusecke commented on #201
Thanks for bringin this up. I think this fits into a broader discussion (see #194), but @rabernat is the wizard of face connections. So he would be the better person to answer this question.

[2020-06-03 18:52] atrasvinacas57 opened #203 "KeyError: 'dxC'"
Hello, I'm trying to visualize output of the LLC4320 model accessed via the ECCO data portal.  I am following the online manual for llcreader.
Everything works until I try to convert to a lat lon grid using faces_dataset_to_latlon. I get KeyError: 'dxC' and it does not continue to create the grid.

I'd appreciate some advise.

Thank you

Armando
[ipynb.pdf](https://github.com/xgcm/xgcm/files/47255

[2020-06-03 18:57] rabernat commented on #203
This is technically an issue for xmitgcm, not xgcm.

The recommended way to do this is with the `type='latlon'` keyword, i.e.

[code]

[2020-06-03 19:09] atrasvinacas57 commented on #203
Thank you, I tried this
ds = model.get_dataset(varnames=['Eta', 'Salt', 'Theta'], k_levels=[1, 10, 40], type='latlon')
new_ds=faces_dataset_to_latlon(ds)

but I get the same error

---------------------------------------------------------------------------
KeyError                                  Traceback (most recent call last)
~/opt/anaconda3/envs/PANGEA/lib/python3.8/site-packages/xarray/core

[2020-06-03 19:18] rabernat commented on #203
I cannot reproduce your error. Can you report your xmitgcm and xarray versions?

[code]

for me this gives
[code]

[2020-06-03 19:21] atrasvinacas57 commented on #203
this is what I get

import xmitgcm
print(xmitgcm.__version__)
import xarray
print(xarray.__version__)

0.4.1
0.15.1

[2020-06-03 19:24] rabernat commented on #203
Please try upgrading to the latest (unreleased) xmitgcm

[code]

I believe this bug should be fixed. (We should probably release 0.4.2 soon.)

[2020-06-03 20:06] atrasvinacas57 commented on #203
I tried upgrading and still get the same problem. Attached is the pdf of the Jupyter notebook, perhaps I should wait the release of  v 0.4.2?

[eje_llcreadv2.pdf](https://github.com/xgcm/xgcm/files/4725940/eje_llcreadv2.pdf)

[2020-06-03 20:10] rabernat commented on #203
Are you sure you upgrade worked? Can you double check that you version of xmitgcm is `0.4.1+14.ga3db4d6` or similar? I am stumped by your problem.

Perhaps it's a python 3.8 vs. 3.7 issue...

[2020-06-03 20:14] rabernat commented on #203
Nope, I just tried with a local python 3.8 environment _and_ xmitgcm `0.4.1` (and xarray 0.15.2). I cannot reproduce your error.

[2020-06-03 20:15] rabernat commented on #203
Hang on, your code worked fine. Your notebook shows this line executed fine:

[code]

[code]

After that step, it's unnecessary to call `faces_dataset_to_latlon`. It's __already__ in lat lon form!

[2020-06-03 20:31] atrasvinacas57 commented on #203
Right!
Ok ill try this code thanks
Armando
--
Enviado desde myMail para Android miércoles, 03 junio 2020, 02:16p. m. -06:00 de Ryan Abernathey  notifications@github.com :

[2020-06-14 17:29] dcherian commented on #200
If you have the `axis` attribute set, you can now do this with cf-xarray: https://cf-xarray.readthedocs.io/en/latest/examples/introduction.html#Slicing

[2020-06-14 23:56] jbusecke commented on #200
Oh this is super cool. I will try to have a closer look soon. Do you think this will overlap in functionality with xgcm? I will have to dive deeper into cf-xarray, but want to make sure that we are not duplicating efforts here.

[2020-06-23 01:15] jbusecke commented on #199
I think if we do this, we could also implement a `.get_metrics_dict`. I have been messing around with subsets of data and it would be very helpful to get a complete dict like `{'X':['dx1', 'dx2', 'dx3',...], 'Y':[...]}` to pass it to a new grid object (we currently only store the actual dataarrays, not the coordinate names). This would probably only require small effort to refactor.

[2020-06-23 01:16] jbusecke commented on #68
Just want to loop everyone in this issue in. @rabernat started an implementation of this functionality in #205. Comments are very welcome.

[2020-06-23 01:22] jbusecke commented on #144
I think this issue will be addressed by #205. I will close this issue in favor of #68.

[2020-06-23 01:22] #144 closed

[2020-06-23 01:24] jbusecke commented on #182
Any chance you could test #204 and see if that does solve the issue @raphaeldussin?

[2020-06-23 01:30] jbusecke commented on #148
Closing, since the new design doesn't have this button anymore.

[2020-06-23 01:30] #148 closed

[2020-06-23 01:35] jbusecke commented on #191
Oh sorry just realized I never answered to this. I am pretty sure CM2.1 is run in z* coordinates. But I am not sure what a general way to determine this is...There are ways to reconstruct the time/space variable cell thickness (and thus the actual cell depth) if they werent saved, but the best thing is to output e.g. budget terms integrated over the cell depth.

For the examples, the cell depth sh

[2020-06-23 02:45] dcherian commented on #199
How about `.metrics` with property setters and getters?

[2020-06-23 12:05] jbusecke commented on #199
I would be in favor of that!

[2020-06-23 12:33] rabernat commented on #199
Sure, sounds good to me.

[2020-06-23 17:50] raphaeldussin commented on #182
I create my grid+weights with:

[code]

Running this cell:

[code]

gives a runtime error:

[code]

[2020-06-23 17:52] jbusecke commented on #182
Whats your xarray version? The weighted method was only recently introduced.

Thanks for testing

[2020-06-23 18:04] jbusecke commented on #182
Whats your xarray version? The weighted method was only recently introduced.

Thanks for testing

[2020-06-23 18:50] raphaeldussin commented on #182
I upgraded from 0.15.0 to 0.15.1 and it works. 2 comments however:

* xarray returns an error if metrics have missing values, easily fixable with fillna(0.) Would it make sense to include this step when creating weights in xgcm?
* I don't recover the exact same answers between my homemade average function:

[code]
and xgcm averaging with weights = [dxt, dyt], or weights = ['areacello']. Errors are

[2020-06-23 19:03] jbusecke commented on #182
Thanks a lot for the detailed reply.

Yes, I noticed that too. Ill see if I can fix that elegantly.

That is a bit weird. Could it be that the `wet` mask is the culprit? I had this in older MOM versions, that there are a few points on land (in rivermouths) that would be cut out by the wet mask, but would be counted if the raw data array was used.

Is `np.logical_xor(metrics['wet'] * ~np.isnan(da))

[2020-06-23 19:57] raphaeldussin commented on #182
I have the same number of land points in wet and in the dataarray but that was a good sanity check.

[2020-06-23 22:28] jbusecke commented on #182
Weird. Then maybe it is some truncation artifact due to the multiplication with the mask...I wont worry about it too much for now. Really appreciate you checking this.

[2020-06-24 00:07] raphaeldussin commented on #182
@jbusecke I'm able to get (close to) the same answers using the xgcm averages from your PR, see:

https://mom6-analysiscookbook.readthedocs.io/en/latest/03_spatial_operations.html

an elegant fix for the fillna would be great!

[2020-06-29 21:32] dcherian opened #206 "fix boundary="extrapolate""
There are a number of xfailed tests for when `boundary="extrapolate"`. We should fix these.

[2020-07-06 14:59] jbusecke opened #207 "`docrep` usage: refactor and addition to user guide"
We are using `docrep` in several instances of the core code to avoid copy & paste repetition of docstrings, but some other docstrings are still manually pasted.

I think we should refactor the code to use docrep to the full extent possible. At the same time it would be good to give a 'how-to-docrep' with some specific examples, since the usage is not really trivial (at least not to me). This would

[2020-07-15 01:13] miniufo commented on #191
Hi @jbusecke, thanks for your explanation.  So cell-weighting is important to generalize the flux calculation in different grids.

[2020-07-15 01:13] #191 closed

[2020-07-28 15:03] jbusecke opened #208 "Check if values passed in `coords={..}` are valid dimensions."
Currently xgcm does not check if the values passed in `Grid(..., coords={...})` are valid dimensions upon the creation of the grid object.

I recently came across a situation like this:
[code]

Should it be possible to assign a coordinate instead of a dimension like this:
[code]
this currently does not raise an error/warning.

Only when trying to compute something we get:
[code]

[code]

I think i

[2020-08-09 07:54] gewitterblitz opened #209 "Computation of kinematic variables etc. using xgcm for C-grid atmospheric model output"
Hi,

I am running a 3D non-hydrostatic atmospheric model (called ARPS) which uses an Arakawa C-grid domain and has terrain following coordinates in the vertical dimension. Here's an example of the grid's x-axis representation:

![image](https://user-images.githubusercontent.com/13985417/89727184-6c441100-d9f0-11ea-97e8-92e320d6f037.png)

More info about model grid representation can be found on pa

[2020-08-12 17:33] rabernat commented on #209
Hi @gewitterblitz. Thanks a lot for this interesting question!

Several of the xgcm developers (including myself) are on vacation at the moment. It may take us a few weeks to respond to your question. We appreciate your patience!

[2020-08-14 06:50] gewitterblitz commented on #209
Thanks for the heads up, @rabernat.

Meanwhile, I realized that I can probably explain my issue better. Here are some more comments and questions:

**1.** From examples provided in xgcm documentation and elsewhere, it seems like other models (e..g, mitgcm etc.) also have equal shape/len for scalar(cenetered) and vector(staggered) variables. The explanation of XG and XC coordinates at this [link](h

[2020-08-17 12:18] #149 closed

[2020-08-24 17:51] rabernat commented on #203
Hi Armando. Did you respolve this?

[2020-08-24 19:55] atrasvinacas57 commented on #203
Ryan

thank you for asking. I have succeeded in working with ECCOV4 r3 and I’m am producing some very interesting time series of the model variables for one point at the surface (entrance to the Gulf of CALIFORNIA), attached a sample plot.

But I am a bit stuck working with LLC2160 model results. This is partly my fault because I’m not familiar with work in the cloud and I’m therefore struggling w

[2020-08-29 22:15] angilkaka opened #210 ""import xgcm" yields "AttributeError: 'NoneType' object has no attribute 'expandtabs'""
Hello,
when I do "import xgcm" in Python, I get the "AttributeError: 'NoneType' object has no attribute 'expandtabs'".
I tested several xgcm installations (conda, pip, pip+git) in newly created conda environments on Mac and Linux platforms. The error stays the same.
One example:
python
Python 3.7.6 | packaged by conda-forge | (default, Mar 23 2020, 23:03:20)
[GCC 7.3.0] on linux
Type "help", "copy

[2020-08-31 17:52] jbusecke commented on #210
Hi @angilkaka,

thanks for using xgcm and posting this issue. I have never encountered this. Could you post a complete list of installed conda packages in your environment for starters?

Could you try to set up a fresh conda environment with minimal dependencies, so we can narrow down if the problem is with xgcm itself?

@rabernat @dcherian do you have a clue what could be going on here?

[2020-08-31 17:55] rabernat commented on #210
Perhaps we could explain how to do this? 😉 Not everyone will know.

Also this?

[2020-08-31 17:59] malmans2 commented on #210
Just got the same error. I think it has to do with docrep 0.3.0 released a few days ago:

[2020-08-31 18:18] jbusecke commented on #210
Sorry, that was a bit hasty indeed. @angilkaka you can do `conda list` in your terminal with your active environment and past the output here. Or just `conda list docrep` (to get just the installed versionnumber of docrep, following @malmans2 suggestion).

If docrep is indeed at version 0.3.0, I  suggest you set up a new conda environment

I really want to understand docrep better and integrate it

[2020-08-31 18:30] jbusecke commented on #210
I was able to reproduce the error in a fresh environment with

[code]
Then I tried to downgrade docrep with
[code]
which indeed did fix the issue.

This should definitely be fixed asap.

For a quick fix I suggest pinning to v0.2.7 (0.2.8 was not released on conda-forge it seems).

I want to understand docrep in more detail and use it consistently in xgcm, but I have other more pressing issues in t

[2020-08-31 19:50] angilkaka commented on #210
Hello,  indeed, downgrading docrep to 0.2.7 solved my "import xgcm" AttributeError.
Thanks so much. I really appreciate your support. A.

[2020-08-31 20:35] jbusecke commented on #210
Ill reopen this until we have a fix on our side. Glad this helped.

[2020-09-01 14:25] jbusecke opened #212 "Testing python 3.8 and 3.9"
We should add ci environments for newer python versions.

This should only require to copy and modify the environment files in `ci/...` and the `travis.yml`.

[2020-09-01 14:54] rabernat opened #213 "Upgrade package infrastructure"
We have some problems with our infrastructure. Travis is broken. Dependencies need updating. Etc.

I think we need to
- [ ] Move all testing to github actions
- [ ] Refactor setup.py to be a bit more modern (see [rechunker's setup.py](https://github.com/pangeo-data/rechunker/blob/master/setup.py) for some examples

This affects #211 and #212 at least.

[2020-09-01 15:04] jbusecke commented on #213
Agreed. I will actually work on this right now before starting anything else because otherwise we have no control over what to merge or not.

[2020-09-01 15:07] jbusecke commented on #213
We can absorb #212 into this aswell.

[2020-09-01 15:14] jbusecke commented on #213
My idea is to model the github workflow/setup.py after rechunker. I have never used github actions, so I might need a few pointers.

The first thing that comes to my mind, when looking at the[ci.yaml](https://github.com/pangeo-data/rechunker/blob/master/.github/workflows/ci.yaml) is that it does not use conda? Or am I reading it wrong?

[2020-09-01 15:58] jbusecke commented on #209
Dear @gewitterblitz, I am back from vacation and apologize for the long wait. First of all, thanks for using xgcm and for posting such detailed explanaitions.

I think xgcm is the right tool for the job and I would be very happy to see it being used for many more models, especially non-ocean models.

I think there are several issues to unpack here and ill try to go through them one-by-one:

- Your

[2020-09-01 16:00] rabernat commented on #119
I found it!

https://prod-gitlab.inria.fr/pycomodo/pycomodo/-/blob/master/doc/source/figures/grid2d_hv.svg

[2020-09-01 16:20] rabernat commented on #209
This isn't totally accurate. To compute a centered difference, you would do `grid.interp(grid.diff(...))`.

[2020-09-01 16:25] rabernat commented on #213
That's correct. Pip is slower but generally simpler to use in ci. The same approach should work for xgcm if we want. Or we could use conda from github actions. No strong preference from me.

[2020-09-01 16:30] dcherian commented on #213
I have this working quite well in cf-xarray: https://github.com/xarray-contrib/cf-xarray/blob/main/.github/workflows/ci.yaml

[2020-09-01 16:35] jbusecke commented on #213
Ok Ill look into the conda approach, since I think the fine grained env files were quite helpful in detecting dependency issues early on, and I find them very helpful to have at hand to develop 😀

[2020-09-01 16:36] jbusecke commented on #213
Ah awesome @dcherian. I'll get inspiration over there after lunch!

[2020-09-01 21:20] jbusecke opened #215 "Add test and fix typo in fill value processing in `grid.py`"
The refactoring of the code linting in #214 uncovered a minor bug in the way [fill values are passed to an axis](https://github.com/xgcm/xgcm/pull/214#issuecomment-685112082).

This should be fixed asap.

[2020-09-01 22:26] hdrake opened #216 "Does xWMT exist? Would it be useful?"
I've been writing some code based on xgcm & xhistogram to compute watermass transformations. I'm sure I'm not the first to do this, but I couldn't find any packages that do this or other more involved analyses.

Or would a more general package be useful, like `xocean`, or similar? It would come with functions for computing common derived quantities that can be daunting for first-time users? The fo

[2020-09-01 22:53] jbusecke commented on #216
Hey @hdrake,

that sounds pretty cool!
I'd be very keen to see those.

I personally think that these types of quantities would profit more from thorough tutorials/docs rather than a "one-click" solution, but that is just my personal opinion and I would be curious to hear other input.

I think this way the user would gain more understanding about what is going on and could modify their analysis acc

[2020-09-01 22:55] jbusecke commented on #216
cc @gmacgilchrist

[2020-09-01 22:59] jbusecke commented on #209
I actually misread the legacy code. It seems like
that this is just a backward difference and xgcm should be able to reproduce this exactly.

Could you remove the 2 rows at the boundary for each of the results and do a difference @gewitterblitz?

[2020-09-02 02:49] gmacgilchrist commented on #216
Thanks for the cc, @jbusecke. I have likewise been building code for these general calculations. I tend to agree with Julius that they can perhaps be better elucidated through tutorials than a specific package. The tricky part (at least in the sense that some non-arbitrary choices have to be made) seems to me to be the coordinate transformation (I have also been using xhistogram) and I think that

[2020-09-02 04:07] rabernat commented on #216
Having been doing WMT calculations for nearly a decade, I personally feel that the complexity is too great to create a simple standalone function or package. There are just too many edge cases to consider, and every model is going to require a slightly different treatment. But I'd love to be convinced I'm wrong on this! 😁

I believe the first step, and a useful step regardless, is to simply docume

[2020-09-02 04:08] rabernat commented on #216
Big 👍  to this. We already have https://github.com/xgcm/fastjmd95, which does some of these things.

[2020-09-02 12:28] hdrake commented on #216
Thanks for your thoughts, @jbusecke @gmacgilchrist @rabernat

I agree that it would be best to simply have some polished tutorials to do these kinds of calculations. I think it is worth writing these kinds of operations as model-specific functions within the tutorial itself, to get people in the habit of creating writing modular code :)

Something like
[code]

Are there any MITgcm or other simulat

[2020-09-02 13:29] rabernat commented on #216
My student @stb2145 has done closed WMT budgets for ECCOv4 with cloud data using xgcm and xhistogram. She is nearly ready to submit a paper focusing on the Weddell Sea. Once that paper is submitted, we can share the code.

If you're eager to move faster, we'd be happy to review any other examples you want to work with.

The only data I'm aware of is [ECCOv4](https://catalog.pangeo.io/browse/master

[2020-09-02 13:48] hdrake commented on #216
I've been doing budgets in my own idealized simulations but I don't have an atmosphere in any of mine so it's a lot easier :)

[2020-09-02 15:00] dcherian commented on #216
Looping in @ALDepp who has been doing WMT things with POP2 at NCAR.

[2020-09-02 15:00] jbusecke commented on #213
Closed via #214

[2020-09-02 15:00] #213 closed

[2020-09-02 15:04] rabernat commented on #210
Was this fixed by #213?

[2020-09-02 15:09] rabernat opened #217 "Release?"
And are also in the process of fixing some bugs (#215, #210). We have also had a few features (#186, #152) since the 0.3.0 release in February. Do we want to do another release? Are these new features major enough to do 0.4.0? Or are we talking about 0.3.1?

Let's try to do a release this week.

[2020-09-02 15:12] jbusecke commented on #210
Yes it should be. We should test this after a new release.

[2020-09-02 15:13] rabernat commented on #216
I doubt this changes the complexity much--in the end, you always just have a `TFLUX` and `SFLUX` which go into the tendency equations. However, the main challenge in ECCOv4 is dealing with the non-linear free surface and associated z* coordinate. The volume of the ocean changes, and this has to be accounted for in the WMT budget. Another reason why it's hard to develop a generic function for WMT..

[2020-09-02 15:18] jbusecke commented on #217
Good idea. Id opt for 0.3.1. I would do that right after I fix #215.

[2020-09-02 15:19] jbusecke commented on #217
We should def try to release more frequently. How do other projects manage this? Just do a weekly release?

[2020-09-02 15:33] rabernat commented on #217
Our release frequency should match our development rate. There's not point in releasing if there are no new features / bug fixes. I'd like to streamline the release process as much as possible to make it easy to release whenever we have anything new.

[2020-09-02 15:53] jbusecke commented on #217
Yea, you are right, I just want to realease more often if we fix bugs. I think at this point it is quite streamlined, but I will watch out for any hickups in the next minor release.

[2020-09-02 21:45] jbusecke commented on #68
I would like to consolidate all discussions about regridding into #205. Closing this.

[2020-09-02 21:45] #68 closed

[2020-09-02 21:47] jbusecke commented on #212
Closed via #214

[2020-09-02 21:47] #212 closed

[2020-09-02 21:48] ALDepp commented on #216
Hi all, I am actually currently working on a WMT tutorial notebook for POP2. I second the notion that tutorials would be best here, some of the manipulations I have to do on POP output (because of the way some variables are output) are likely not needed in other models (and are not immediately obvious), so I think detailed documentation would be helpful.

[2020-09-02 21:51] jbusecke commented on #217
Il make some changes to the `whats-new.rst` and release as 0.4.0.

[2020-09-02 21:57] jbusecke opened #220 "Automatic entries/reminders to fill in whats-new"
I find myself forgetting to fill in new features/fixes etc in `whats-new.rst`. Is there a way to automatically add e.g. the PR title and author with each merged PR or as part of the CI?

cc @andersy005 @dcherian

[2020-09-02 22:05] jbusecke commented on #215
Closed via #218

[2020-09-02 22:05] #215 closed

[2020-09-02 22:12] jbusecke commented on #217
I seem to have some [problems](https://github.com/xgcm/xgcm/actions/runs/236795478) with the authentication in our publishing gh action.

The logs show this:

[code]
@rabernat could you check on the pypi authentication details as suggested [here](https://pypi.org/help/#invalid-auth)?

[2020-09-02 22:15] andersy005 commented on #220
Not that I am aware of... I personally find the `squash merge` feature to be useful when merging PRs. I then use the master/main branch history to update the whats-new/changelog by hand in the documentation since with squash merge you get a condensed history. In case you just want the changelog/whats-new to be updated along the side the PR changes, you may find the [pull request template](https://

[2020-09-02 22:47] dcherian commented on #220
I don't think you can automate it without squash merging: https://stackoverflow.com/questions/3523534/good-ways-to-manage-a-changelog-using-git

[2020-09-02 22:56] jbusecke commented on #220
Thanks this is super helpful. I'll look into both options soon.

[2020-09-02 23:11] dcherian commented on #220
I thought I had seen something recently but its an emacs/magit thing: https://github.com/magit/magit/pull/3928

[2020-09-03 01:01] rabernat commented on #217
I found we had both repo secrets and organization secrets for pypi.

![image](https://user-images.githubusercontent.com/1197350/92059473-4f84ca00-ed5f-11ea-9f6d-1f44b7383be7.png)

I deleted the repo secrets. We will use the org secrets. Let's see if that fixes it.

[2020-09-03 01:03] rabernat commented on #217
Looks like 0.4.0 is released! https://pypi.org/project/xgcm/

✋

[2020-09-03 01:29] jbusecke commented on #217
🔥

[2020-09-03 02:37] rabernat commented on #217
It looks like the conda build for 0.4.0 [failed](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=204382&view=logs&j=656edd35-690f-5c53-9ba3-09c10d0bea97&t=e5c8ab1d-8ff9-5cae-b332-e15ae582ed2d) with the same issue described in #210. I think we probably have to update the [conda dependencies](https://github.com/conda-forge/xgcm-feedstock/blob/master/recipe/meta.yaml) as wel

[2020-09-03 12:22] jbusecke commented on #217
Ok Ill change that. It would be cool if this could be taken automatically from the setup.py, though. Do you know if there is a way to do that?

[2020-09-03 12:40] jbusecke commented on #217
Fixed the dependencies and the tests pass. Once the new version is uploaded. Ill download and test it and close this and #210

[2020-09-03 12:55] jbusecke commented on #217
Somehow my conda still resolves to 0.3.0. Ill give it some time and try again in a bit.

[2020-09-03 14:22] jbusecke opened #222 "Making xgcm the 'killer' vertical coordinate transformation tool for GCM data"
**TLDR; We will implement 1d ~~rebinning~~ transformation in xgcm and need your input to make this tool as powerful/general as possible**

In the past year and before I have had many discussions here (#68), over at [xarrayutils](https://github.com/jbusecke/xarrayutils) and in various other [chats](https://discourse.pangeo.io/t/plotting-ocean-variables-in-density-coordinates-using-xhistogram/125) a

[2020-09-03 14:36] rabernat commented on #222
Thanks for this excellent summary @jbusecke! One quick comment:

In my view this is a separate case from regridding. It's a version of weighted coarse graining. I think it should be a separate function from vertical regridding.

I favor an API like
[code]

Question: after regridding, we will have a new axis. But we won't have a `Grid` object for that axis. This seems a bit weird.

[2020-09-03 14:48] jbusecke commented on #222
I agree on this, and think a seperate method is probably the way to go. However, I think it is still good to keep this in this issue/future PR, since it will share a lot of the internals as far as I can see.

Excellent point. I wanted to keep it simple but this is a good general desing question. Do you think something like this is the solution for now?
[code]
For this to work we do need to worry a

[2020-09-03 15:02] dcherian commented on #222
This seems OK for now. I've always found it slightly annoying that xgcm separates the metadata (Grid) and the data (Dataset). Though the only alternative I can see is to create an `XgcmDataset` that encapsulates the `Grid` and `Dataset` but that has other drawbacks.

I second @rabernat's proposal of kwargs: `method` and `target: Union[Sequence, DataArray]`.

Another nice function would be `da_new

[2020-09-03 15:03] rabernat commented on #222
The accessor approach in #197 could mitigate this.

[2020-09-03 15:04] jbusecke commented on #217
Just installed and tested 0.4.0 in a pristine environment. Closing this now.

[2020-09-03 15:04] #217 closed

[2020-09-03 15:04] dcherian commented on #222
cc @mnlevy1981, @matt-long @klindsay28 on the NCAR side.

[2020-09-03 15:05] jbusecke commented on #210
Closed via #214

[2020-09-03 15:05] #210 closed

[2020-09-03 15:27] raphaeldussin commented on #222
@jbusecke a few things to consider, based on my experience writing [VCR](https://github.com/raphaeldussin/VCR):

1. For conservative regridding on irregularly spaced depth, you'll need the API to read center depth and interfaces depth
2. You may want to consider cases where the remapping weights strictly add up to 1. (e.g. transports) or not (e.g. tracers)
when the grids do not completely overlap

[2020-09-03 15:31] rabernat commented on #222
This is already part of xgcm's data model, which is part of why we think this functionality would integrate well with xgcm.

[2020-09-03 16:09] matt-long commented on #222
cc @andersy005 and @erogluorhan from NCAR.

[2020-09-03 16:17] gmacgilchrist commented on #222
Thanks for this summary, @jbusecke, this sounds exciting. Tagging @ashao and @StephenGriffies from MOM6 world, and @ALDepp who I believe has been doing this sort of thing in POP.

A couple of comments and questions from me:

#### Terminology

Seems important to get this right to avoid confusion down the line, so apologies for being pedantic.
- I have an issue with the term "rebinning" as the overa

[2020-09-03 16:26] klindsay28 commented on #222
Expanding on issue of 2a of @raphaeldussin, one needs to define what it means to be conservative when the axes have different extents.

Here's a concrete example: consider a src grid with 9 layers of thickness 5 m from 0-45 m and a dst grid with 5 layers of thickness 10 m from 0-50 m, and you remap values of 1.0 on the src grid to the dst grid. Do you get [1.0, 1.0, 1.0, 1.0, 0.5] or [1.0, 1.0, 1.

[2020-09-03 17:26] jbusecke commented on #222
Wow. Thanks everyone for the great comments. Let me try to respond to some quickly.

## @raphaeldussin
I think that all of your points should be taken into account by @rabernat s method but we should definitely test them. I think it is preferable to have one single algorithm that accomplishes everything. Your point 2a is important to consider as an option, as @klindsay28 nicely illustrates. We sho

[2020-09-03 17:29] rabernat commented on #222
I'm not sure I agree with this 100%. There is a tradeoff between the complexity of the algorithm and the computational cost. In #205, there are two distinct algorithms, linear and conservative. Linear is much faster, but in some ways, less accurate.

[2020-09-03 17:42] jbusecke commented on #222
Ah that's not what I meant. I was responding to @raphaeldussin s comment on the weighted matrix approach (rather than the numba vectorized method you use) purely for the conservative remapping. And I think that both approaches are equivalent (once we have an option to incorporate the partial cell mask).

[2020-09-03 17:52] StephenGriffies commented on #222
Griffies, Adcroft, and Hallberg paper on MOM6 methods was just accepted to JAMES.  I will post a link to early online release when that becomes available.  I hope that should be matter of a few weeks.  If someone wishes to sooner read the manuscript then I can post a link to my Google drive.    Is that OK @jbusecke ?

[2020-09-03 17:56] jbusecke commented on #222
That is great @StephenGriffies , many thanks!

[2020-09-03 18:11] gmacgilchrist commented on #222
"transform" gets my vote as the most general term for the procedure. You are then making a number of choices about _what_ you transform and _how_ you perform that transformation.

If target_data=some_variable is specified, the method would internally regrid to the target values (which are now interpreted as values of the some_variable array) and then remap using the resulting depth values (which c

[2020-09-03 18:21] gmacgilchrist commented on #222
I think "get out what you put in unless you specify otherwise" (GOWYPIUYSU ??) is a good approach

[2020-09-03 18:33] jbusecke commented on #222
I will make sure that GOWYPIUYSU makes it into the docs 😂

[2020-09-03 18:35] jbusecke commented on #222
Could you provide a small example of input and the output you would expect from this method? I will add it to the tests.

[2020-09-03 18:39] ashao commented on #222
This is definitely a good conversation to be having. I also vote for 'transform' as the name.

My thoughts on some of this vis-a-vis the monotonic/non-monotonic target coordinates. First, just to be clear, I'm defining monotonic to mean that the underlying coordinate (temperature, density, etc.) $zeta$ monotonically increases or decreases as a function of a layer index $k$, i.e.
`zeta(k+1) < zeta(

[2020-09-03 19:00] jbusecke commented on #222
Thanks @ashao for the input.

Nice. Seems like we are converging on this one.

    Calculate the ordering of the indices on the original grid that makes it monotonic (in layer space) in the variable used for the target coordinate
    Calculate and store the resorted, original grid
    Generate the target grid such that the interfaces of the new grid match target values
    Remap from the resorted

[2020-09-03 19:07] gmacgilchrist commented on #222
I will give this some thought.

In relation to @ashao's comment that the same new grid could/should be used for remapping multiple variables, presumably you could feed an entire `xr.Dataset` to `grid.transform`:

```grid_new, ds_new = grid.transform(ds, target_data=da_temp, 'Z', target=[20,25,30], remapping='conservative')```

The regridding is done once, and the same new grid and same remapping p

[2020-09-03 19:20] jbusecke commented on #222
Yes that would certainly be the end goal. But I think once we have this running with a single variable, we can add some more logic to ingest full datasets. There is a bit more logic to consider when you have variables that are not on the same grid as the `target_data` (but that is just a simple interpolate call away I think). For now ill try to stick to the simpler scenario.

In relation to the ab

[2020-09-03 19:24] ashao commented on #222
@jbusecke. Consider the following situation where you have an array describing the grids `thickness` and a tracer `PHI`
Source Grid:
- Top cell: thickness[0] = 5, rho interfaces = 26.1
- Bottom cell: thickness[1] = 10; rho interfaces = 26.0

Destination grid (sigma0):
- Cell 1: `thickness_dest[0] = 10`, interfaces (26.0)
- Cell 2: `thickness_dest[1] = 5`, interfaces (26.1)

The entire transformati

[2020-09-03 19:39] jbusecke commented on #222
Thanks for the clarification. In practice, I guess this would be done by a call to `np.argsort` (resulting in a sorting index) and then applying that to both the thickness (or other metrics) as well as the source variable before remapping?
But each of the layers you describe presumably has a depth, would that be affected? Should that be recomputed by integrating the sorted thickness from the surfa

[2020-09-03 20:11] gmacgilchrist commented on #222
I don't know the workings of the base remapping algorithm yet, so I don't know if this is a relevant discussion - perhaps it already somehow allows for regridding to a non-monotonic coordinate?

But worth saying that @ashao and I are really considering _any_ non-monotonic field, including both fixes for small density inversions _and_ strongly non-monotonic fields. The "pre-sorting" approach that @